
.fc-header {
	margin-top: 15px;
}

.fc-header-title h2 {
	line-height: 1.5em; margin-top: 0px; white-space: nowrap;
}

.fc-header .fc-button {
	margin-right:0;	
}

.fc-header-left {
	width: 25%; text-align: left;
}
.fc-header-center {
	text-align: center;
}
.fc-header-right {
	width: 25%; text-align: right;
}


.fc-widget-header {
	border: 1px solid rgb(197, 197, 197); border-image: none;
}
.fc-widget-content {
	border: 1px solid rgb(197, 197, 197); border-image: none;
}


.fc-state-default.fc-corner-left {
	border-radius:0;	
}
.fc-state-default.fc-corner-right {
	border-radius:0;	
}

.fc-text-arrow {
	margin:0; padding: 0px; width: 27px; height: 27px; text-indent: -9999px; display: inline-block;
}

.fc-button-prev .fc-text-arrow {
	background: url("../images/btn_page_prev.gif") no-repeat;
	font-weight:normal;
}
.fc-button-next {
	padding: 0px !important; width: 27px;
	font-weight:normal;
	border:0;
}

.fc-button-prev {
	padding: 0px !important; width: 27px;
	border:0;
}
.fc-button-next .fc-text-arrow {
	background: url("../images/btn_page_next.gif") no-repeat;
}

.fc-state-default {
	background: url("../images/bg_btn_white.gif") repeat-x; padding: 0px 10px;  border-image: none; height: 27px; line-height: 27px; font-size: 12px; vertical-align: middle; display: inline-block; cursor: pointer; box-shadow:none; text-shadow:none; 
}
.fc-state-disabled {
	background: rgb(83, 83, 83); color: rgb(255, 255, 255);
}
.fc-state-active {
	background: rgb(83, 83, 83); color: rgb(255, 255, 255);
}

table.fc-border-separate tr td:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none; color:red;
}
table.fc-border-separate tr th:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none; color:red;
}
table.fc-border-separate tr td:last-child {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none; color:blue;
}
table.fc-border-separate tr th:last-child {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none; color:blue;
}
.fc-border-separate th {
	background:rgb(243, 243, 243); border-width: 2px 0px 1px 1px; padding: 15px 0px; color: rgb(34, 34, 34); font-weight:bold; font-size: 15px; font-weight: normal; border-top-color: rgb(83, 83, 83); border-bottom-color: rgb(83, 83, 83); border-top-style: solid; border-bottom-style: solid;
}


.fc-event {
	border: 1px solid rgb(58, 135, 173); border-image: none; color: rgb(255, 255, 255); font-size:0.9em; cursor: default; background-color: rgb(58, 135, 173);
}


.fc-grid .fc-day-number {
	padding: 10px; float: right; font-size:13px;
}
.fc-grid .fc-event-time {
	font-weight: normal; margin-right:5px;
}
.fc-event-inner {
	width: 100%; height: 100%; overflow: hidden; color:#fff;
}

.fc-grid .fc-other-month .fc-day-number {
	color: rgb(151, 151, 151);
}
a.page_next {
	
}
a.page_prev {
	
}
a.page_first {
	
}
a.page_last {
	
}
.page_next {
	
}
.page_prev {
	background: url("../images/btn_page_prev.gif") no-repeat;
}
.page_first {
	background: url("../images/btn_page_first.gif") no-repeat;
}
.page_last {
	background: url("../images/btn_page_last.gif") no-repeat;
}


#calendar {
	background : white;
}