.gridster{margin-top:-1px; margin-bottom:2px}
#content_profile{background:#fff url(../images/bg_content_profile.gif ) no-repeat left top; transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_ceo{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_admin{transition: all .4s; -webkit-transition: all .4s;} /* 1x1  */
#content_schedule{transition: all .4s; -webkit-transition: all .4s;} /* 1x2 */
#content_banner{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_executive{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_reserved{background:url(../images/bg_content_reserved.gif) no-repeat left top; transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_newboard{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_newboardList{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_newboardList2{transition: all .4s; -webkit-transition: all .4s;} /* 2x2 */
#content_visual{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_sns{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_mywork{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_workboard{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_community{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_helpdesk{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_knowledge{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_graph{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_club{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */
#content_news{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_system{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_Attendance{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_report{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_order{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_reserch{transition: all .4s; -webkit-transition: all .4s;} /* 1x1 */
#content_serviceDesk{transition: all .4s; -webkit-transition: all .4s;} /* 2x1 */

/* 긴급공지 */
.content_headtext{width:100%; height:40px; margin:0 auto; line-height:40px; box-sizing:border-box; padding:0 10px 10px 10px; background:#fff; position:relative;}
.content_headtext .title{background:url(../images/icon_headtext.png) no-repeat left center; font-size:15px; font-family:"Nanum GothicBold"; color:#222; text-indent:30px; position:absolute; left:10px;}
.content_headtext .content{padding:0 30px; position:relative; font-size:14px; font-family:"Nanum GothicBold"; color:#222;}
.content_headtext .content a{display:block; width:19px; height:19px; background:url(../images/btn_headtext.png) no-repeat left center; position:absolute; }
.content_headtext .content a.prev{left:0; top:11px;}
.content_headtext .content a.next{right:0; top:11px; background-position:-20px 0;}
.content_headtext .content ul{height:40px; overflow:hidden; }
.content_headtext .content ul li{}
.flexslider3 .flex-direction-nav {}
/* .flexslider3 .flex-direction-nav a{text-indent:-9999px; display:block; width:19px; height:19px; background:url(../images/btn_headtext.png) no-repeat left center; position:absolute;} */
.flexslider3 .flex-direction-nav a{text-indent:-9999px; display:block; width:19px; height:19px; background:url(../images/btn_headtext_horizontal.png) no-repeat left center; position:absolute;}
/* 
.flexslider3 .flex-direction-nav .flex-next { right:0; top:11px; background-position:-20px 0;}
.flexslider3 .flex-direction-nav .flex-prev {left:0; top:11px}
 */
.flexslider3 .flex-direction-nav .flex-next {left:2px; top:5px;}
.flexslider3 .flex-direction-nav .flex-prev {left:0; top:17px; background-position:-20px 0;}


/* 개인영역 */
.content_profile_inner{width:244px; margin:0 auto;}
.content_profile_name{color:#666;  font-size:13px; margin-top:25px; height:20px; line-height:20px;}
.content_profile_name strong{color:#222; font-size:16px;  font-family:"Nanum GothicBold"; padding-left:8px; line-height:15px;}
.content_profile_info{width:242px; height:140px; margin-top:15px; border:1px solid #e8e8e8; background:#fff;}
.content_profile_info_photo{width:87px; height:122px; float:left; margin:10px 10px 0 10px;}
.content_profile_info_text{ margin-top:5px;}
.content_profile_info_text li{line-height:26px; color:#444; font-size:12px; font-family:"Nanum GothicBold";}
.content_profile_info_text li.team{font-family:"Nanum Gothic";}
.content_profile_info_text li a{color:#ef3f3d;}
.content_profile_info_text li.date{color:#666; font-family:"Nanum Gothic";}
.content_profile_btn{width:100%; height:40px; margin-top:10px; background:url(../images/bg_content_profile_btn.gif) no-repeat;}
.content_profile_btn a{float:left; width:50%; height:40px; line-height:40px; text-decoration:none; display:block; text-align:center; font-size:13px; color:#fff; font-family:"Nanum GothicBold";}



/* CEO동정, 경영보고, 경영진지시사항, 설문, 최신뉴스  */
.content_ceo_inner,
.content_report_inner,
.content_order_inner,
.content_reserch_inner,
.content_news_inner{width:210px; margin:0 auto;}
.content_news2x1_inner{width:480px; margin:0 auto;}
.content_ceo_title,
.content_report_title,
.content_order_title,
.content_reserch_title,
.content_news_title {width:100%; height:25px; margin-top:25px;}
.content_ceo_title h3,
.content_report_title h3,
.content_order_title h3,
.content_reserch_title h3{float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold";}
.content_news_title h3 {background:url(../images/icon_news.png) no-repeat left center; float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold"; text-indent:25px;}
.content_ceo_title a,
.content_report_title a,
.content_order_title a,
.content_reserch_title a,
.content_news_title a{float:right; margin-top:2px;}
.content_ceo_list,
.content_report_list,
.content_order_list,
.content_reserch_list,
.content_news_list{width:100%; margin-top:18px;}
.content_ceo_list li,
.content_report_list li,
.content_order_list li,
.content_reserch_list li,
.content_news_list li{width:100%; font-size:12px; line-height:30px; overflow:hidden;  white-space: nowrap; text-overflow: ellipsis; position:relative;}
.content_ceo_list li a,
.content_report_list li a,
.content_order_list li a,
.content_reserch_list li a,
.content_news_list li a{color:#555; }

.content_report_list li{padding-right:50px; width:auto !important;}
.content_report_list li span{position:absolute; right:0;}

/* 시스템바로가기 */
.content_system_inner{width:210px; margin:0 auto; position:relative;}
.content_system_title{width:100%; height:25px;  margin-top:25px;}
.content_system_title h3{float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold";}
.content_system_inner .flex-control-paging{display:none;}
.content_system_list{margin-top:20px; overflow:hidden; height:150px;}
.content_system_list li{float:left;}

/* 2016.02.26 추가*/
.content_system_inner .flex-control-nav{ display:inline-block; bottom:-40px;}
.content_system_inner .flex-control-nav li{}
/* 2016.02.26 추가*/

/* 2016.01.20 블릿추가 */
.content_system_list li > ul li{width:50%; float:left; font-size:12px; line-height:30px; background:url(../images/bullet_square.gif) no-repeat left center; text-indent:10px; }
/* 2016.01.20 블릿추가 */

.content_system_list li > ul li a{color:#555; display:block;}
.content_system_list li > ul li a:hover{font-weight:bold;}


/* 통합관리 */
.content_admin_inner{width:218px; margin:0 auto;}
.content_admin_manage{width:100%; margin-top:25px;}
.content_admin_sign{width:100%; margin-top:20px;}
.content_admin_manage h3, .content_admin_sign h3{height:25px; float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold";}
.content_admin_manage table, .content_admin_sign table{font-size:13px; width:100%; margin-top:10px;}
.content_admin_manage table th, .content_admin_sign table th{color:#555; text-align:left; font-weight:normal; padding:6px 0;}
.content_admin_manage table td, .content_admin_sign table td{color:#222; text-align:right; padding:6px 0;}
.content_admin_manage table td a, .content_admin_sign table td a{color:#ef3f3d; font-family:"Nanum GothicBold";}
.content_admin_manage table td.last, .content_admin_sign table td.last{padding-right:15px; }



/* 나의일정 */
.content_schedule_calendar{margin-top:20px;}
.content_schedule_calendar_btn{background:url(../images/btn_calendar_top.png) no-repeat; width:233px; height:41px; line-height:41px; position:relative; text-align:center; margin:0 auto; font-family:"Nanum GothicBold"; color:#fff; font-size:14px;}
.content_schedule_calendar_btn a{position:Absolute; width:20px; height:20px; text-indent:-9999px;   display:block; background:url(../images/btn_calendar.png) no-repeat;}
.content_schedule_calendar_btn a.prev{background-position:0 0; left:10px; top:10px;}
.content_schedule_calendar_btn a.next{background-position:-20px 0; right:10px; top:10px;}
.content_schedule_calendar_wrap{background:#fafafa url(../images/bg_calendar_th.gif) repeat-x left -38px; width:100%; overflow:hidden;}
.content_schedule_calendar_wrap table{ font-size:12px; width:230px; margin:0 auto;}
.content_schedule_calendar_wrap table th{color:#999;  height:40px; line-height:40px; font-family:"Nanum GothicBold";}
.content_schedule_calendar_wrap table th.sun{color:#ef3f3d;}
.content_schedule_calendar_wrap table th.sat{color:#3693bf;}
.content_schedule_calendar_wrap table td.no{color:#999 !important;}
.content_schedule_calendar_wrap table td{font-family:"arial"; color:#6eb322; height:26px; text-align:center; line-height:26px; padding:2px 0;}
.content_schedule_calendar_wrap table tr td:first-child{color:red;}
.content_schedule_calendar_wrap table tr td:last-child{color:blue;}
.content_schedule_calendar_wrap table td.select{background:#fafafa url(../images/icon_calendar_today.png) no-repeat center; color:#fff;}

.content_schedule_list{width:233px; margin:10px auto 0 auto;}
.content_schedule_list ul{ width:100%; position:relative;}
.content_schedule_list ul li{float:left; color:#b3b3b3; background:url(../images/tabmenu_line.gif) no-repeat left center; font-size:16px; padding:5px 10px;font-family:"Nanum Gothic";}
.content_schedule_list ul li a.on {color:#222;}
.content_schedule_list ul li.first{padding-left:0; background:none;}
.content_schedule_list ul li a{text-decoration:none; color:#b3b3b3;}
.content_schedule_list ul li .content_schedule_box{width:100%; position:Absolute; top:40px; left:0;}
.content_schedule_list ul li .content_schedule_box div{width:100%; height:41px; line-height:41px; background:url(../images/bg_content_schedule_list_top.png) no-repeat; color:#444; font-size:14px; text-align:center;}
.content_schedule_list ul li .content_schedule_box ul{ width:210px; margin:10px auto; overflow-y:auto; height:140px;}
.content_schedule_list ul li .content_schedule_box ul li{padding:4px 0;  width:100%; height:20px;  font-size:12px; background:none; clear:both;}
.content_schedule_list ul li .content_schedule_box ul li a{font-size:12px; color:#555;}

.schedule_tab {font-family:"Nanum GothicBold";}



/* 배너, 근태관리 */
.content_bannner_inner,
.content_Attendance_inner{width:230px; height:240px; margin:25px auto 0 auto; overflow:hidden;}
.content_bannner_list,
.content_Attendance_list{width:690px;}
.content_bannner_list li,
.content_Attendance_list li{float:left;}
.content_bannner_list div,
.content_Attendance_list div{width:230px;height:45px; }
.content_bannner_list div a,
.content_Attendance_list div a{ display:block;  height:30px; padding:0 0 0 60px;width: 170px; font-size:13px; color:#565656;}
.content_bannner_list div a span,
.content_Attendance_list div a span{display:block; color:#333; font-size:16px; font-family:"Nanum GothicBold"; margin-bottom:5px; }
.content_bannner_list div.icon0101{background:url(../images/banner_img_0101.png) no-repeat left top; background-size:45px 45px;}
.content_bannner_list div.icon0102{background:url(../images/banner_img_0102.png) no-repeat left top; background-size:45px 45px;}
.content_bannner_list div.noIcon{background:url(../images/noimg.gif) no-repeat left top; background-size: 45px 45px;}
.content_Attendance_list div.icon0101{background:url(../images/Attendance_img_0101.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list div.icon0102{background:url(../images/Attendance_img_0102.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list div.icon0103{background:url(../images/Attendance_img_0103.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list div.icon0104{background:url(../images/Attendance_img_0104.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list div.icon0105{background:url(../images/Attendance_img_0105.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list div.icon0106{background:url(../images/Attendance_img_0106.png) no-repeat left top; background-size:45px 45px;}
.content_Attendance_list .content_Attendance_list_top a,
.content_bannner_list .content_bannner_list_top a{border-bottom:1px solid #d7d7d7; padding-bottom:25px;}
.content_bannner_list .content_bannner_list_top{ }
.content_bannner_list .content_bannner_list_bottom,
.content_Attendance_list .content_Attendance_list_bottom{margin-top:30px;}

/* 2016.02.28 */
.content_bannner_list .content_bannner_list_bottom a,
.content_Attendance_list .content_Attendance_list_bottom a {border-bottom:1px solid #d7d7d7; padding-bottom:25px;}


.banner01{background:url(../images/icon_banner_01.png) no-repeat left top; background-size:45px 45px;}
.banner02{background:url(../images/icon_banner_02.png) no-repeat left top; background-size:45px 45px;}
.banner03{background:url(../images/icon_banner_03.png) no-repeat left top; background-size:45px 45px;}
.banner04{background:url(../images/icon_banner_04.png) no-repeat left top; background-size:45px 45px;}
.banner05{background:url(../images/icon_banner_05.png) no-repeat left top; background-size:45px 45px;}
.banner06{background:url(../images/icon_banner_06.png) no-repeat left top; background-size:45px 45px;}
.banner07{background:url(../images/icon_banner_07.png) no-repeat left top; background-size:45px 45px;}
.banner08{background:url(../images/icon_banner_08.png) no-repeat left top; background-size:45px 45px;}
.banner09{background:url(../images/icon_banner_09.png) no-repeat left top; background-size:45px 45px;}
.banner10{background:url(../images/icon_banner_10.png) no-repeat left top; background-size:45px 45px;}
.banner11{background:url(../images/icon_banner_11.png) no-repeat left top; background-size:45px 45px;}
.banner12{background:url(../images/icon_banner_12.png) no-repeat left top; background-size:45px 45px;}
.banner13{background:url(../images/icon_banner_13.png) no-repeat left top; background-size:45px 45px;}
.banner14{background:url(../images/icon_banner_14.png) no-repeat left top; background-size:45px 45px;}


/* 최근게시판, 나의할일, 업무게시판, 애사 */
.content_newboard_inner, 
.content_newboardList_inner, 
.content_mywork_inner, 
.content_workboard_inner, 
.content_helpdesk_inner, 
.content_knowledge_inner, 
.content_community_inner,
.content_serviceDesk_inner{width:480px; margin:0 auto;}
.content_newboard_box, 
.content_newboardList_box, 
.content_newboardList2_box,
.content_mywork_box, 
.content_workboard_box, 
.content_helpdesk_box,
.content_knowledge_box,
.content_community_box,
.content_serviceDesk_box{width:100%;}
.content_newboard_box > a,
.content_newboardList_box > a,
.content_newboardList2_box > a,
.content_mywork_box > a,
.content_workboard_box > a,
.content_helpdesk_box > a,
.content_knowledge_box > a,
.content_community_box > a,
.content_serviceDesk_box > a{right:0; top:25px; position:absolute;}
.content_newboard_box ul,
.content_newboardList_box ul,
.content_newboardList2_box ul,
.content_workboard_box ul,
.content_helpdesk_box ul,
.content_knowledge_box ul,
.content_community_box ul{width:100%; position:absolute; top:70px; left:0;}
.content_mywork_box ul{width:100%; position:absolute; top:70px; left:0; height:180px; overflow-y:auto; padding-right:10px;}
.content_serviceDesk_box ul{width:100%; position:absolute; top:70px; left:0; height:180px; overflow-y:auto; padding-right:10px;}
.content_newboard_box ul li,
.content_newboardList_box ul li,
.content_newboardList2_box ul li,
.content_mywork_box ul li,
.content_workboard_box ul li,
.content_helpdesk_box ul li,
.content_knowledge_box ul li,
.content_community_box ul li,
.content_serviceDesk_box ul li{padding:5px 0; position:relative; width:100%; height:20px;  font-size:12px; background:none;}
.content_newboard_box ul li a,
.content_newboardList_box ul li a,
.content_newboardList2_box ul li a,
.content_mywork_box ul li a,
.content_workboard_box ul li a,
.content_helpdesk_box ul li a,
.content_knowledge_box ul li a,
.content_community_box ul li a,
.content_serviceDesk_box ul li a{float:left; color:#555; width:80%;}
.content_newboard_box ul li span,
.content_newboardList_box ul li span,
.content_newboardList2_box ul li span,
.content_mywork_box ul li span,
.content_workboard_box ul li span,
.content_helpdesk_box ul li span,
.content_knowledge_box ul li span,
.content_community_box ul li span,
.content_serviceDesk_box ul li span{float:right; }
.content_newboard_box ul li a:hover,
.content_newboardList_box ul li a:hover,
.content_newboardList2_box ul li a:hover,
.content_mywork_box ul li a:hover,
.content_workboard_box ul li a:hover,
.content_helpdesk_box ul li a:hover,
.content_knowledge_box ul li a:hover,
.content_community_box ul li a:hover,
.content_serviceDesk_box ul li a:hover{float:left; color:#555; text-decoration:underline;}
.content_newboard_box ul li.first{width:100%; height:84px; border-bottom:1px solid #e8e8e8; padding:0 0 25px 0; margin-bottom:20px;}
.content_newboardList_box ul li.first{width:100%; height:84px; border-bottom:1px solid #e8e8e8; padding:0 0 25px 0; margin-bottom:20px;}
.content_newboardList2_box ul li.first{width:100%; height:84px; border-bottom:1px solid #e8e8e8; padding:0 0 25px 0; margin-bottom:20px;}
.content_newboard_box ul li.first a{display:block; width:100%; height:84px;}
.content_newboardList_box ul li.first a{display:block; width:100%; height:84px;}
.content_newboardList2_box ul li.first a{display:block; width:100%; height:84px;}
.content_newboard_box ul li.first a span{display:block; color:#222; }
.content_newboardList_box ul li.first a span{display:block; color:#222; }
.content_newboardList2_box ul li.first a span{display:block; color:#222; }
.content_newboard_box ul li.first .thum{float:left; width:127px; height:84px;}
.content_newboardList_box ul li.first .thum{float:left; width:127px; height:84px;}
.content_newboardList2_box ul li.first .thum{float:left; width:127px; height:84px;}
.content_newboard_box ul li.first .text{float:left; margin-left:25px; width:255px; height:84px; line-height:18px;  }
.content_newboardList_box ul li.first .text{float:left; margin-left:25px; width:255px; height:84px; line-height:18px;  }
.content_newboardList2_box ul li.first .text{float:left; margin-left:25px; width:255px; height:84px; line-height:18px;  }
.content_newboard_box ul li.first .text .title{width:100%; height:20px; margin-bottom:10px; font-size:14px; font-family:"Nanum GothicBold";  overflow:hidden;  white-space: nowrap; text-overflow: ellipsis;}
.content_newboardList_box ul li.first .text .title{width:100%; height:20px; margin-bottom:10px; font-size:14px; font-family:"Nanum GothicBold";  overflow:hidden;  white-space: nowrap; text-overflow: ellipsis;}
.content_newboardList2_box ul li.first .text .title{width:100%; height:20px; margin-bottom:10px; font-size:14px; font-family:"Nanum GothicBold";  overflow:hidden;  white-space: nowrap; text-overflow: ellipsis;}
.content_newboard_box ul li.first .text .cont{ width:100%; height:54px; overflow:hidden;  }
.content_newboardList_box ul li.first .text .cont{ width:100%; height:54px; overflow:hidden;  }
.content_newboardList2_box ul li.first .text .cont{ width:100%; height:54px; overflow:hidden;  }
.content_newboard_box ul li.first .date{float:right; width:70px; text-align:right; margin-top:68px; color:#777;}
.content_newboardList_box ul li.first .date{float:right; width:70px; text-align:right; margin-top:68px; color:#777;}
.content_newboardList2_box ul li.first .date{float:right; width:70px; text-align:right; margin-top:68px; color:#777;}



/* 동호회 */
.content_club_inner{width:480px; margin:0 auto;}
.content_club_box{width:100%;}
.content_club_box > a{right:0; top:25px; position:absolute;}
.content_club_box ul{width:100%; position:absolute; top:70px; left:0;}

/* 2016.01.20 블릿추가 */
.content_club_box ul li{float:left; padding:0; position:relative; width:33%; height:35px; line-height:35px; font-size:13px; background:none; font-family:"Nanum Gothic";  background:url(../images/bullet_square.gif) no-repeat left center; text-indent:10px; }
/* 2016.01.20 블릿추가 */

.content_club_box ul li.w34{width:34%;}
.content_club_box ul li a{float:left; color:#555;}
.content_club_box ul li span{float:right; }
.content_club_box ul li a:hover{float:left; color:#555; text-decoration:underline;}



/* 그래프 */
.content_graph_inner{width:540px; margin:0 auto;}
.content_graph_box{width:100%;position:absolute; top:65px; left:-20px;}



/* 임원재실현황  */
/* 2016.02.29 수정, 추가*/
.content_executive_inner{width:210px; margin:0 auto; font-family:"Nanum GothicBold"; }
.content_executive_title{width:100%; height:25px; margin-top:20px;}
.content_executive_title h3{float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold";}
.content_executive_title a{float:right; margin-top:2px;}
.content_executive_ceo, .content_executive_executive{width:100%; height:30px; margin-top:10px;}
.content_executive_ceo {border-bottom:1px solid #d7d7d7; }
.content_executive_ceo ul, .content_executive_executive ul{float:left; width:170px;}
.content_executive_ceo ul li, 
.content_executive_executive ul li{color:#555; margin-bottom:12px; font-size:14px;}
.content_executive_ceo ul li.name {font-size:14px; line-height:30px; margin-bottom:5px; color:#222;}
.content_executive_executive ul li select{ border:1px solid #b6b6b6; padding:3px; width:160px;}
.content_executive_ceo div, 
.content_executive_executive div{float:right; color:#ef3f3d; font-size:13px;  padding-top:25px;}
.content_executive_ceo div.on, 
.content_executive_executive div.on{background:url(../images/icon_executive_on.png) no-repeat center top;}

.content_executive_ceo div.off, 
.content_executive_executive div.off{background:url(../images/icon_executive_off.png) no-repeat center top;}

.content_executive_ceo ul{width:100%;}
.content_executive_ceo ul li{float:left; width:50%; text-indent:20px; background-position:60% center;}
.content_executive_ceo ul li:first-child{text-indent:0;  background-position:40% center;}

.content_executive_executive{overflow-y:auto; height:130px;}
.icon_executive_on{background:url(../images/icon_executive_blue.png) no-repeat 96% center;} /* 파랑 */
.icon_executive_off{background:url(../images/icon_executive_gray.png) no-repeat 96% center;} /* 파랑 */
.icon_executive_01{background:url(../images/icon_executive_01.png) no-repeat 92% center;} /* 초록 */
.icon_executive_02{background:url(../images/icon_executive_02.png) no-repeat 92% center;} /* 파랑 */
.icon_executive_03{background:url(../images/icon_executive_03.png) no-repeat 92% center;} /* 노랑 */
.icon_executive_04{background:url(../images/icon_executive_04.png) no-repeat 92% center;} /* 빨강 */
.icon_executive_05{background:url(../images/icon_executive_05.png) no-repeat 92% center;} /* 회색 */


.content_executive_tip{border-top:1px solid #d7d7d7; padding-top:5px; margin-top:10px;}
.content_executive_tip ul{text-align:right;}
.content_executive_tip ul li{margin-right:10px; background-position:left center; text-indent:12px; display:inline-block; background-size:8px 10px; color:#666;}
/* 2016.02.29 수정, 추가*/


/* 사내SNS */
.content_sns_inner{width:480px; margin:0 auto;}
.content_sns_title{width:100%; height:25px; margin-top:20px;}
.content_sns_title h3{float:left; font-size:17px; color:#222; font-family:"Nanum GothicBold";}
.content_sns_title a{float:right; margin-top:2px;}
.content_sns_list{width:100%; margin-top:20px; height:173px; overflow:hidden; overflow-y:auto; padding-right:10px;}
.content_sns_list li{width:100%; font-size:12px; height:74px;  clear:both; margin-bottom:25px; overflow:hidden;  white-space: nowrap; text-overflow: ellipsis;}
.content_sns_list li a{display:block; width:100%;}
.content_sns_list li a span{display:block;}
.content_sns_list li a .thum{float:left; width:105px; height:72px; border:1px solid #d7d7d7;}
.content_sns_list li a .text{float:left; width:250px; margin-left:30px; line-height:25px; margin-top:10px;}
.content_sns_list li a .text .email{background:url(../images/icon_user.png) no-repeat left center; padding-left:20px; }
.content_sns_list li a .text .title{font-size:14px; font-family:"Nanum GothicBold";}
.content_sns_list li a .date{float:right; width:70px; margin-top:40px; text-align:right; color:#777;}



/* 자원예약 */
.content_reserved_inner{width:210px; margin:0 auto; font-family:"Nanum GothicBold";}
.content_reserved_title{width:100%; height:25px; margin-top:25px;}
.content_reserved_title h3{float:left; font-size:17px; color:#fff; }
.content_reserved_list{width:100%; margin-top:30px;}
.content_reserved_list li{width:100%; font-size:14px; line-height:32px; overflow:hidden;  white-space: nowrap; text-overflow: ellipsis;}
.content_reserved_list li a{color:#fff; }


/* a.more{background:url(../images/btn_board_more.png) no-repeat; width:14px; height:14px; display:block; text-indent:-9999px; cursor:pointer;} */
a.more{width: 45px; height: 14px; margin-top:3px; display: block; font-size: 12px; cursor: pointer; color: #005eb5 !important; font-family:"Nanum GothicBold";}
a.setting{background:url(../images/btn_setting.png) no-repeat; width:16px; height:16px; display:block; text-indent:-9999px; cursor:pointer;}


/* 메인탭메뉴 */
.tabmenu{ width:100%; position:relative;}
.tabmenu > li{float:left; color:#b3b3b3; background:url(../images/tabmenu_line.gif) no-repeat left center; font-size:16px; font-family:"Nanum GothicBold"; padding:25px 15px;}
.tabmenu > li a.on {color:#222;}
.tabmenu > li.first{padding-left:0; background:none;}
.tabmenu > li a{text-decoration:none; color:#b3b3b3; cursor:pointer;}
.graph_tab{ width:500px; margin:0 auto; position:relative;}
.graph_tab li{float:left; color:#b3b3b3; background:url(../images/tabmenu_line.gif) no-repeat left center; font-size:14px; font-family:"Nanum GothicBold"; padding:25px 6px;}
.graph_tab li a.on {color:#222;}
.graph_tab li.first{padding-left:0; background:none;}
.graph_tab li a{text-decoration:none; color:#b3b3b3; cursor:pointer;}













/* 임원재실레이어 */
#content_executive_popup{display:none; width:498px; overflow:hidden; border:1px solid #005eb5; position:fixed; z-index:9999; top:50%; left:50%; margin-left:-250px; margin-top:-125px;  background:#fff;  font-size:14px; box-shadow:2px 2px 2px rgba(0,0,0,0.2);}
.layer_popup_header{width:100%; height:54px; background:#005eb5 url(../images/bg_popup_header.gif) no-repeat left top; color:#fff; text-indent:20px; line-height:54px; font-family:"Nanum GothicBold"; position:Relative;}
.layer_popup_header span{font-size:12px; font-weight:normal; margin-left:10px;}
.layer_popup_header a{width:32px; height:32px; background:url(../images/btn_popup_close.png) no-repeat center; position:Absolute; right:10px; top:10px; cursor:pointer; text-indent:-9999px; border:0;}
.layer_popup_gray{padding:20px;  overflow:hidden;  background:#f1f1f1;}
.layer_popup_white{background:#fff;  overflow:hidden;  padding:20px; }
.border{border:1px solid #b6b6b6;}
.border_b{border-bottom:1px solid #b6b6b6;}
.border_l{border-left:1px solid #b6b6b6;}
.border_r{border-right:1px solid #b6b6b6;}
.border_t{border-top:1px solid #b6b6b6;}
.layerpopup_top{height:30px; width:100%; margin:0 0 10px 0;}
.layerpopup_bottom{height:30px; width:100%; margin:10px 0;}
.layerpopup_search{ position:relative; }
.layerpopup_search a{position:absolute; right:0; top:0;}
.layerpopup_search input{width:100%; box-sizing:border-box;}
.mail_search{background:#fff; border:1px solid #b6b6b6; box-sizing:border-box; padding:10px 20px; width:100%; height:140px;  overflow-y:auto; margin-bottom:10px;}
.mail_search li{line-height:25px; font-size:13px; font-family:"Nanum Gothic";}
.layerpopup_L{float:left; line-height:30px; margin:5px 0;}
.layerpopup_R{float:right; margin:5px 0;}
.layerpopup_R a{margin-left:3px;}
.layerpopup_L a{margin-right:3px;}
.layerpopup_inner_45{width:45%;  float:left;}
.layerpopup_inner_49{width:49%;}
.layerpopup_subtitle_C{text-align:center; width:100%; height:30px; line-height:30px;}
.layerpopup_subtitle_L{text-align:left;  width:100%;  height:30px; line-height:30px;}
.layerpopup_subtitle_R{text-align:right;  width:100%;  height:30px; line-height:30px;}

.select_ul{background:#fff; border:1px solid #b6b6b6; box-sizing:border-box; padding:10px; width:100%; height:300px;  overflow-y:auto; margin-bottom:10px;}
.select_ul li{line-height:30px; font-size:13px; font-family:"Nanum GothicBold"; padding:0 15px; position:relative;}
.select_ul li:hover{}


.select_ul span{display:inline-block; width:15px; cursor:pointer; position:absolute; left:0px;}
.select_ul_2depth{display:none;}
.select_ul_2depth li{}
.select_ul_3depth {display:none;}
.select_ul_3depth li{ font-family:"Nanum Gothic"; font-size:12px;}


.layerpopup_inner_10{width:10%; height:300px; float:left; text-align:center; vertical-align:middle; padding-top:110px; margin-top:30px; box-sizing:border-box;}
.layerpopup_inner_10 button{width:27px; height:27px; text-indent:-9999px; margin-bottom:25px; cursor:pointer; border:0; vertical-align:middle;}
.layerpopup_inner_10 button.right{background:url(../images/btn_move_right.gif) no-repeat; }
.layerpopup_inner_10 button.left{background:url(../images/btn_move_left.gif) no-repeat; }

.layer_popup_white.member{border:1px solid #b6b6b6; height:250px; overflow-y:auto;}
.layer_popup_white input[type=submit]{width:88px; height:28px; background:#ff982f; color:#fff; line-height:28px; border:0;  cursor:pointer;}
.popup_table{width:100%; }
.popup_table th, .popup_table td{text-align:left; padding:10px 0; vertical-align:middle;}
.popup_table td{}
.popup_table td label{margin-right:15px; cursor:pointer;}


/*설문조사*/
/* 2016.02.16 설문조사 수정 */
.reserch_title{margin:0 0 10px 0;}
.reserch_title dt{height:40px; line-height:40px; padding-left:30px;font-size:14px; font-family:"Nanum GothicBold"; background:url(../images/icon_question.png) no-repeat left center;}
.reserch_title dd{padding-left:30px; font-size:12px; margin-bottom:10px; line-height:18px;}
.reserch_list{margin:10px 0;}
.reserch_list dt{padding-left:30px; font-size:13px; overflow:hidden; line-height:20px; position:relative; margin-bottom:10px;}
.reserch_list dt strong{ position:absolute; left:10px; top:0; bottom:0;}
.reserch_list dd{font-size:12px; padding:0 30px; line-height:25px; margin-bottom:10px; color:#555; position:Relative;  overflow:hidden;}
.reserch_list dd textarea{width:100%;  resize:none; border:1px solid #c5c5c5;}
.reserch_list.type2{}
.reserch_list.type2 dd{float:left; width:50%; margin-bottom:10px; padding-left:0; box-sizing:border-box;}
.reserch_list.type2 dd.first{padding-left:50px;}
.reserch_text{text-align:center; padding:5px 0; margin-top:10px; font-size:12px; color:#555; line-height:20px;}
.reserch_text strong{font-size:14px; font-family:"Nanum GothicBold";}
.reserch_text{}
.reserch_list dd .num{position:absolute; left:30px; top:0; bottom:0; }
.reserch_list dd .ex{float:left; padding-right:180px; padding-left:20px;}
.reserch_list dd .result{position:absolute; right:0; top:0; width:200px;}
.reserch_list dd .result .bar{float:left; display:inline-block; width:100px; margin:5px 0; height:15px; border:1px solid #7f7f7f; background:url(../images/bg_reserch_resultbar.gif) no-repeat; background-size:0; }
.reserch_list.type2 dd .result{position:relative; width:150px; clear:both;}
.reserch_list.type2 dd .result .bar{float:left; display:inline-block; width:70px; margin:5px 0; height:15px; border:1px solid #7f7f7f; background:url(../images/bg_reserch_resultbar.gif) no-repeat; background-size:0; }
/* 2016.02.16 설문조사 수정 */


/* 게시글보기 레이어 */
#main_boardview_popup{display:none; width:498px; overflow:hidden; border:1px solid #005eb5; position:fixed; z-index:9999; top:50%; left:50%; margin-top:-250px; margin-left:-250px; background:#fff;  font-size:14px;} 
.sub_layer_popup{display:none;  overflow:hidden; border:1px solid #005eb5; position:fixed; z-index:9999; top:50%; left:50%;  background:#fff;  font-size:14px;} 
.sub_layer_popup.gray { border:1px solid #838383;}
.sub_layer_popup.gray .layer_popup_header{background:#838383 url(../images/bg_popup_header_gray.gif) no-repeat left top;}

/*2016.01.12 레이어팝업 상세 내용*/
.popup_view{height:100px; overflow-y:scroll; word-break:break-all;}


/* 레이어팝업 상세,작성 */
.popup_board_table{width:100%; border-top:2px solid #535353;  font-size:14px;}
.popup_board_table th, .popup_board_table td{text-align:left; padding:10px; text-align:left; vertical-align:middle; border-bottom:1px solid #c5c5c5; line-height:15px;}
.popup_board_table th{ color:#222; font-family:"Nanum GothicBold"; font-weight:normal; background:#f3f3f3; border-right:1px solid #c5c5c5;}
.popup_board_table td{border-bottom:1px solid #c5c5c5; vertical-align:middle;}
.popup_board_table td label{vertical-align:middle;}/* 2016.02.13 추가 */
.popup_board_table td img{vertical-align:middle;}
.popup_board_table td.content{}
.popup_board_table td.content div{height:155px; overflow-y:auto; vertical-align:top;}
.popup_board_table textarea{width:100%; min-height:100px;  resize:none; border:1px solid #c5c5c5;}

.popup_board_table td.profile_img{padding:0;}

/* 레이어팝업 목록 */
.popup_basic_table{width:100%; border-collapse:separate;}
.popup_basic_table th, .basic_table td{text-align:center;}
.popup_basic_table th{padding:15px 0; font-size:15px; color:#222; font-family:"Nanum GothicBold"; font-weight:normal; background:#f3f3f3 url(../images/basic_table_th_line.gif) no-repeat right center; border-top:2px solid #535353; border-bottom:1px solid #535353;}
.popup_basic_table th.last{background:#f3f3f3;}
.popup_basic_table td{padding:15px 0; border-bottom:1px solid #c5c5c5; font-size:13px; vertical-align:middle; position:relative; text-align:center;}
.popup_basic_table td.gray{background:#f3f3f3; }
.popup_basic_table td.left{text-align:left; padding:15px;}
.popup_basic_table td.right{text-align:right; padding:15px;}
.popup_basic_table td img{vertical-align:middle;}
.popup_basic_table textarea{width:100%; min-height:100px;  resize:none; border:1px solid #c5c5c5;}
.layer_popup_title{height:30px; position:Relative; margin-bottom:10px; line-height:30px;}
.layer_popup_title a{position:Absolute; right:0; top:0;}
.popup_label label{margin-right:15px; cursor:pointer;}

/* 직원검색 */
.member_search{position:Relative; padding-right:73px;}
.member_search div{margin:0 0 10px 0;}
.member_search div input{width:100%; padding-right:85px; box-sizing:border-box;}
.member_search p{font-size:12px; margin:20px 0 10px 0; font-family:"dotum"}
.member_search a{position:Absolute; top:0; right:0;}
.pop_memo_list{margin-top:10px; height:100px; overflow-y:auto;  border:1px solid #c5c5c5; padding:10px;}
.pop_memo_list li{line-height:25px;}
.share_list{margin-top:10px; }
.share_list li{line-height:25px; float:left; margin-right:30px;}

/* 2016.02.13 수정*/
.share_wrap{}
.share_wrap .btn{float:left; margin:10px 0 0 10px; width:30px; text-align:center;}
.share_wrap .share_list{float:left; width:85%; margin-top:10px; position:relative;  max-height:100px; overflow-y:auto;}
.share_wrap .share_list ul{clear:both;}
.share_wrap .share_list ul li{line-height:25px; float:left;  width:25%;}
.share_wrap .share_list ul li:first-child{margin-left:0;}




/* 나의메뉴설정 */
#mymenu_edit_popup{overflow:hidden; border:1px solid #005eb5; position:fixed; z-index:9999; top:50%;  left:50%;}

.mymenu_edit_select{width:100%; }
.mymenu_edit_select .mymenu_edit_select{}
.mymenu_edit_select .mymenu_edit_select_top .title, .mymenu_edit_select .mymenu_edit_select_bottom .title{font-family:"Nanum GothicBold"; color:#222; margin-bottom:5px; height:20px;}
.mymenu_edit_select .mymenu_edit_select_top{}
.mymenu_edit_select .mymenu_edit_select_top ul{background:#f3f3f3; border:1px solid #b6b6b6; width:100%; height:128px; padding:10px; margin-bottom:10px; box-sizing:border-box;}
.mymenu_edit_select .mymenu_edit_select_top ul li{line-height:12px; padding-bottom: 10px; }
.mymenu_edit_select .mymenu_edit_select_top .btn{height:25px; margin-bottom:10px;}
.mymenu_edit_select .mymenu_edit_select_top .btn .btn_updown{float:right; width:56px; height:25px; background:url(../images/btn_updown.gif) no-repeat;}
.mymenu_edit_select .mymenu_edit_select_top .btn .btn_updown button{width:28px; height:25px; border:0; float:left; background:none; text-indent:-9999px; cursor:pointer;}
.mymenu_edit_select .mymenu_edit_select_bottom{}
.mymenu_edit_select .mymenu_edit_select_bottom .title{margin-top:20px;}
.mymenu_edit_select .mymenu_edit_select_bottom .btn{text-align:center;}
.mymenu_edit_select .mymenu_edit_select_bottom .input{position:relative; margin-bottom:10px;}
.mymenu_edit_select .mymenu_edit_select_bottom .input div{padding-right:50px;}
.mymenu_edit_select .mymenu_edit_select_bottom .input div input{width:100%;  box-sizing:border-box;}
.mymenu_edit_select .mymenu_edit_select_bottom .input a{position:absolute; right:0; top:0;}



.mymenu_edit_list{width:100%; overflow:hidden; margin:25px 0 0 0;}
.mymenu_edit_list .edit_list_wrap{float:left; width:24%; padding:0 0.5%; box-sizing:border-box; margin-left:7px;  }
.mymenu_edit_list .edit_list_wrap .title{border-top:2px solid #535353;  border-bottom:1px solid #c5c5c5; background:#f3f3f3; height:43px; line-height:43px; text-align:center; font-family:"Nanum GothicBold"; margin-bottom:10px; font-size:14px;}
.mymenu_edit_list .edit_list_wrap span{display:inline-block; width:15px; cursor:pointer; position:Absolute; left:0;}
.mymenu_edit_list .edit_list_wrap ul{}
.mymenu_edit_list .edit_list_wrap ul li{line-height:30px; position:relative; padding-left:15px; }
.edit_list_1depth a{text-indent:0;}
.edit_list_2depth {display:none; margin:5px 0;}
.edit_list_3depth {display:none; margin:5px 0;}
.edit_list_1depth li{font-size:13px;}
.edit_list_2depth li{font-size:12px;}
.edit_list_3depth li{font-size:11px;}





/*슬라이더*/
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.no-js .slides > li:first-child {display: block;}
.flexslider { position:relative;}
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom:20px; right:10px; text-align: right;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background:url(../images/icon_pageoff.png) no-repeat; cursor: pointer; text-indent:9999px;}
.flex-control-paging li a:hover {background:url(../images/icon_pageon.png) no-repeat;}
.flex-control-paging li a.flex-active {background:url(../images/icon_pageon.png) no-repeat; cursor: default; }

.flexslider_count{width:100%; font-size:13px; font-family:"Nanum GothicBold"; color:#555; position:Absolute; right:0; bottom:-40px; text-align:center;}
.flexslider_count span{display:inline-block; }
.flexslider_count .slide-current-slide{color:#ef3f3d; background:url(../images/btn_slider_prev.png) no-repeat left center; padding-left:15px;}
.flexslider_count .slide-total-slides{background:url(../images/btn_slider_next.png) no-repeat right center; padding-right:15px;}


/* 2016.02.28 미니캘린더. 일정있는 날짜 */ 
.fc-day-exists-schedule {font-weight: bolder; text-decoration: underline; }


.content_community_box,
.content_workboard_box,
.content_helpdesk_box,
.content_newboard_box,
.content_knowledge_box,
.content_mywork_box,
.content_sns_list,
.content_newboardList_box,
.content_newboardList2_box,
.content_serviceDesk_box{font-family:"Nanum Gothic";}

li img {margin-left:4px;}

/* 2016.05.03 developwon 설문 우선순위 그래프 */
/*  The wrapper for the bar */
.poll_graph {
	height: 25px;
	margin: 5px 0;
	overflow: hidden;
	background-color: #e5e5e5;
	text-align: center;
}

/*  The actual bar itself */
.poll_graph-bar {
	float: left;
	width: 0;
	height: 100%;
	color: #ffffff;
	background-color: #0088cc;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

.poll_graph-bar-1 {background-color: #0088cc;}
.poll_graph-bar-2 {background-color: #005580;}
.poll_graph-bar-3 {background-color: #377f31;}
.poll_graph-bar-4 {background-color: #880e14;}
.poll_graph-bar-5 {background-color: #dba909;}
.poll_graph-bar-6 {background-color: #A9009E;}
.poll_graph-bar-7 {background-color: #0D008A;}
.poll_graph-bar-8 {background-color: #667700;}
.poll_graph-bar-9 {background-color: #808080;}
.poll_graph-bar-10 {background-color: #000;}
.poll_graph-bar-11 {background-color: #0088cc;}
.poll_graph-bar-12 {background-color: #005580;}
.poll_graph-bar-13 {background-color: #377f31;}
.poll_graph-bar-14 {background-color: #880e14;}
.poll_graph-bar-15 {background-color: #dba909;}