@charset "utf-8";

/*  ///////////////////////

	Etc		

//////////////////////// */




/* 이하 정리해야함 임시 */
.tempbox{
	clear:both;
	background:#eee;
	width:100%;
	line-height:14px;
	font-size:11px;
	display:block;
	float:left;
	margin:20px 0px 20px 0px;
	border:1px solid #eee;
	border-left:1px solid #ccc;
	border-top:1px solid #ccc;

	}
.exbox{
	clear:both;
	width:100%;
	display:block;
	float:left;
	padding-left:20px;
	margin:0px 0px 100px 0px;
	}
