<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>:: enview_Appliance _ TilePortlet</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
<!-- header -->
<div id="header">
	<!-- header_wrap -->
	<div class="header_wrap">
		<!-- 네비게이션 -->
		<div class="nav">
			<ul>
				<li class="first"><a href="#">공지사항</a></li>
				<li><a href="#">일정</a></li>
				<li><a href="#">설문/투표</a></li>
				<li><a href="#">이벤트/행사</a></li>
				<li><a href="#">카페</a></li>
				<li><a href="#">마이페이지</a></li>
			</ul>
			<ul class="nav_login">
				<li class="first"><a href="#">로그아웃</a></li>
				<li><a href="#">홈</a></li>
				<li><a href="#">Q&A</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">총장에게바란다</a></li>
				<li><a href="#">건의합니다</a></li>
			</ul>
		</div>
		<!-- 네비게이션 //-->
		<h1><img src="image/logo.png" alt="솔트웨어 로고" /></h1>
        <!-- 검색 -->
        <div class="searchArea">
            <form name="searchfrm">
                <fieldset>
                    <legend>검색</legend>
					<div class="searchbar">
						<label for="search"></label><input type="text" id="search" class="search" value="검색어를 입력하세요"/>
					</div>
					<a href="#">검색</a>
                </fieldset>
            </form>
        </div>
        <!-- 검색 //-->
        <!-- 날씨 -->		
        <a href="#" class="weather">
        	<p><img src="image/weather_icon.gif" alt="날씨아이콘" /><span class="templete">22℃</span></p>
        	<span><strong>서울</strong> 6월 18일 <strong>13 :00</strong> 현재</span>
        </a>
        <!-- 날씨 //-->
		<!-- GNB -->
		<div class="gnb">
			<ul>
				<li><a href="#">홈페이지</a></li>
				<li><a href="#">웹메일</a></li>
				<li><a href="#">학사</a></li>
				<li><a href="#">행정</a></li>
				<li><a href="#">도서관</a></li>
			</ul>
		</div>
		<!-- GNB //-->
		<!-- 시스템 더보기 -->
		<div id="menu">
			<!-- allmArea -->
			<div class="allmArea">
				<p class="btn_off"><a href="#"><span>시스템 더보기</span></a></p>
				<p class="btn_on"><a href="#"><span>시스템 더보기</span></a></p>
				<!-- 시스템 더보기 리스트-->
				<div id="allmenu">
					<ul>
						<li><a href="#">시스템더보기</a></li>
						<li><a href="#">시스템더보기</a></li>
					</ul>
				</div>
				<!-- 시스템 더보기 리스트 //-->
			</div>
			<!-- allmArea//-->
		</div>
		<!-- 시스템 더보기 -->
	</div>
	<!-- header_wrap -->
</div>
<!-- header //-->
<!-- body -->
<div id="body">
	<!-- body_wrap -->
	<div class="body_wrap">
		<!-- contentsArea -->
		<div id="contentsArea">
			<!-- leftArea -->
			<div id="leftArea">
				<!-- 공지사항 포틀릿 -->
				<div class="p_21">
					<!-- Portlet_tab_normal -->
					<div id="Portlet_tab_normal" class="Portlet_tab_normal m1">
						<!-- 탭영역 -->
						<ul>
							<!-- 공지사항 -->
							<li class="m1"><a href="#" class="first"><span>공지사항</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                     
							 </li>
							 <!-- 공지사항 //-->
							 <!-- 학사공지 -->
							 <li class="m2"><a href="#"><span>학사공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							</li>
							<!-- 학사공지 //-->
							<!-- 학과공지 -->
							<li class="m3"><a href="#"><span>학과공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							</li>
							<!-- 학과공지 //-->
							<!-- 장학공지 -->
							<li class="m4"><a href="#"><span>장학공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내  <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                           
							</li>
							<!-- 장학공지 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_normal //-->
				</div>
				<!-- 공지사항 포틀릿 //-->
				<!-- 학교소식 포틀릿 -->
				<div class="p_21">
				<!-- Portlet_tab_normal -->
					<div id="Portlet_tab_normal" class="Portlet_tab_normal m1">
						<!-- 탭영역-->
						<ul>
							<!-- 학교소식 -->
							<li class="m1"><a href="#" class="first"><span>학교소식</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							 </li>
							 <!-- 학교소식 //-->
							 <!-- 학과게시판 -->
							 <li class="m2"><a href="#"><span>학과게시판</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                         
							</li>
							<!-- 학과게시판 //-->
							<!-- 연구과제 -->
							<li class="m3"><a href="#"><span>연구과제</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 연구과제 //-->
							<!-- 자유게시판 -->
							<li class="m4"><a href="#"><span>자유게시판</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 자유게시판 //-->
							<!-- 벼룩시장 -->
							<li class="m5"><a href="#"><span>벼룩시장</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="image/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 벼룩시장 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_normal //-->
				</div>
				<!-- 학교소식 포틀릿 //-->
				<!-- 이벤트/행사 -->
				<div class ="p_11 Portlet_normal">
					<h2>이벤트/행사</h2>
					<ul class="list">
						<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
						<li><span class="title"><a href="#">여름방학 농촌활동 참가안내드립니</a></span></li>
						<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
						<li><span class="title"><a href="#">여름방학 농촌활동 참가안내드립니</a></span></li>
						<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
						<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
					</ul>
					<span class="more"><a href="#">더보기</a></span>
				</div>
				<!-- 이벤트/행사 //-->
				<!-- 카페 -->
				<div class="p_11 Portlet_tab">                 
					<h2>Cafe</h2>
					<!-- Portlet_title_tab_normal -->
					<div id="Portlet_title_tab_normal" class="Portlet_title_tab_normal m1">
						<!-- 탭영역 -->
						<ul>
							<!-- 최신글-->
							<li class="m1"><a href="#" class="first"><span>최신글</span></a>
								<ul>
									<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
									<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
									<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
									<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
								</ul>    
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 최신글-->
							<!-- 가입카페 -->
							<li class="m2"><a href="#"><span>가입카페</span></a>
								<ul>
									<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
									<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
									<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
									<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
								</ul>   
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 가입카페 //-->
							<!-- 최신카페 -->
							<li class="m3"><a href="#"><span>최신카페</span></a>
								<ul>
									<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
									<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
									<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
									<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 최신카페 //-->
						</ul>
						<!-- 탭영역 //-->
					</div>                
					<!-- Portlet_title_tab_normal //-->
				</div>
				<!-- 카페 //-->
				<!-- ToDoList -->
				<div class="p_21">
					<!-- Portlet_tab_normal -->
					<div id="Portlet_tab_normal" class="Portlet_tab_normal m1">
						<!-- 탭영역 -->
						<ul>
							<!-- To-Do List -->
							<li class="m1"><a href="#" class="first"><a href="#"><span>To-Do List</span></a>
								<ul>
									<li><span class="month"><strong>2014</strong><a href="#"><img src="image/month_pre.gif" alt="이전날"></a><em>06월 24일 화요일</em><a href="#"><img src="image/month_next.gif" alt="다음날"></a><img src="image/calender.gif" alt="달력 아이콘"></span></li>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">17:00  상암동 세미나 상담 및 인사관리 </a></span></li>
									<li><span class="title"><a href="#">18:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">19:00  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                            
							 </li>
							 <!-- To-Do List //-->
							 <!-- 주요통계 -->
							 <li class="m2"><a href="#"><a href="#"><span>주요통계</span></a>
								<ul>
									<li><span class="month"><strong>2014</strong><a href="#"><img src="image/month_pre.gif" alt="이전날"></a><em>06월 24일 화요일</em><a href="#"><img src="image/month_next.gif" alt="다음날"></a><img src="image/calender.gif" alt="달력 아이콘"></span></li>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">17:00  상암동 세미나 상담 및 인사관리 </a></span></li>
									<li><span class="title"><a href="#">18:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">19:00  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                            
							</li>
							<!-- 주요통계 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_normal //-->
				</div>
				<!-- ToDoList //-->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
			</div>
			<!-- leftArea //-->
			<!-- centerArea -->
			<div id="centerArea">
				<!-- 강좌안내 -->
				<div class="p_11 Portlet_tab">
					<!-- Portlet_tab_mini -->
					<div id="Portlet_tab_mini" class="Portlet_tab_mini m1">
						<!-- 탭영역-->
						<ul>
							<!-- 나의 개설강좌 -->
							<li class="m1"><a href="#" class="first"><span>나의 개설강좌</span></a>
								<ul class="overflow">
									<li class="first"><span class="title"><a href="#">09:30 ~ 11:30 [인문관 201호]</a></span>
										<p><span class="subtitle"><a href="#">국어학개론</a></span></p>
									</li>
									<li><span class="title"><a href="#">12:30 ~ 14:30 [인문관 411호]</a></span>
										<p><span class="subtitle"><a href="#">구비문학개론</a></span></p>
									</li>
									<li><span class="title"><a href="#">15:30 ~ 16:30 [인문관 405호]</a></span>
										<p><span class="subtitle"><a href="#">화곡론</a></span></p>
									</li>
									<li><span class="title"><a href="#">12:30 ~ 14:30 [인문관 411호]</a></span>
										<p><span class="subtitle"><a href="#">구비문학개론</a></span></p>
									</li>
								</ul>				
							 </li>
							 <!-- 나의 개설강좌 -->
							 <!-- 강의 시간표-->
							 <li class="m2"><a href="#"><span>강의 시간표</span></a>
								<ul class="overflow">
									<!-- 강의 시간 테이블 표 -->								
									<table cellpadding="0" cellspacing="0" summary="나의강의시간표" class="lecture_table">
										<caption>나의 강의시간표 테이블</caption>
										<colgroup>
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
										</colgroup>
											<thead>
												<tr>
													<th class="first">요일</th>
													<th>월</th>
													<th>화</th>
													<th>수</th>
													<th>목</th>
													<th>금</th>
													<th>토</th>
													<th>일</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="first">09:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">10:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">11:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">13:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">14:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">15:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">16:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">17:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">18:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">19:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">20:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">21:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
											</tbody>
									</table>
									<!-- 강의 시간 테이블표 //-->
								</ul>				
							</li>
							<!-- 강의 시간표 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_mini //-->
				</div>
				<!-- 강좌안내 //-->
				<!-- 학사일정 -->
				<div class ="p_11 schedule">
					<h2>학사일정</h2>
					<p class="schedule_date"><a href="#"><img src="image/schedule_pre.gif" alt="이전달" /></a> <span class="month">2014.<strong>06</strong><em>월</em></span> <a href="#"><img src="image/schedule_next.gif" alt="다음달" /></a></p>
					<ul class="list">
						<li><span class="title"><a href="#">여름방학 일정 공지 7월 10일 ~ 8월..</a></span></li>
						<li><span class="title"><a href="#">기말고사 일정에 대하여 알려드립..</a></span></li>
						<li><span class="title"><a href="#">여름방학 일정 공지 7월 10일 ~ 8월..</a></span></li>
						<li><span class="title"><a href="#">기말고사 일정에 대하여 알려드립..</a></span></li>
						<li><span class="title"><a href="#">여름방학 일정 공지 7월 10일 ~ 8월..</a></span></li>
					</ul>
					<span class="more"><a href="#">더보기</a></span>
				</div>
				<!-- 학사일정 //-->
				<!-- 아이콘 -->
				<div class="p_11 main_icon">
					<div class="view">
						<ul>
							<li><span class="icon"><a href="#" class="icon_01"><img src="image/banner_icon_01.png" alt="증명서발급" /></a></span> <span class="txt">증명서발급</span></li>
							<li><span class="icon"><a href="#" class="icon_02"><img src="image/banner_icon_02.png" alt="성적조회" /></a></span> <span class="txt">성적조회</span></li>
							<li><span class="icon"><a href="#" class="icon_03"><img src="image/banner_icon_03.png" alt="이수학점조회" /></a></span> <span class="txt">이수학점조회</span></li>
							<li><span class="icon"><a href="#" class="icon_04"><img src="image/banner_icon_04.png" alt="교과과정조회" /></a></span> <span class="txt">교과과정조회</span></li>
							<li><span class="icon"><a href="#" class="icon_05"><img src="image/banner_icon_05.png" alt="지도교수 상담" /></a></span> <span class="txt">지도교수상담</span></li>
							<li><span class="icon"><a href="#" class="icon_06"><img src="image/banner_icon_06.png" alt="장학금 신청" /></a></span> <span class="txt">장학금신청</span></li>
						</ul>
					</div>
				</div>
				<!-- 아이콘 // -->
				<!-- 아이콘_02 -->
				<div class="p_11 main_icon_02">
					<div class="view">
						<ul>
							<li><span class="icon"><a href="#" class="icon_01"><img src="image/banner_icon_01.png" alt="증명서발급" /></a></span> <span class="txt">증명서발급</span></li>
							<li><span class="icon"><a href="#" class="icon_02"><img src="image/banner_icon_03.png" alt="성적조회" /></a></span> <span class="txt">학생상담</span></li>
							<li><span class="icon"><a href="#" class="icon_03"><img src="image/banner_icon_04.png" alt="교과과정조회" /></a></span> <span class="txt">교과과정조회</span></li>
						</ul>
					</div>
				</div>
				<!-- 아이콘_02 // -->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
			</div>
			<!-- centerArea -->
			<!-- rightArea -->
			<div id="rightArea">
				<!-- 개인정보영역 -->
				<div class="p_11 personal">
					<!-- 신원 정보 -->
					<div class="personal_info">
						<p class="identity"><span class="name"><strong>홍길동</strong>님</span><span class="major">국어국문학과(학생)</span></p>
					</div>
					<!-- 신원정보 //-->
					<!-- 로그인시 나의 정보 -->
					<div class="myinfo">
						<ul>
							<li><span>메일</span><em>1000통</em></li>
							<li><span class="message">쪽지</span><em>1000통</em></li>
							<li class="list"><span>최종로그인 2014.06.01 03:21</span></li>
						</ul>
						<p class="adjust"><a href="#">개인정보 수정</a><a href="#">비밀번호 변경</a></p>
						<p class="account"><select><option selected="선택">학생(재학)</option><option>교원(전임)</option><option>직원(재직)</option></select></p>
					</div>
					<!-- 로그인시 나의 정보 //-->
					<!-- 버튼 영역 -->
					<div class="btnArea"><a class="logout" href="#">로그아웃</a><a class="mypage" href="#">카페</a></div>
					<!-- 버튼 영역 //--> 
				</div>
				<!-- 개인정보영역 //-->
				<!-- 설문/투표 -->
				<div class="p_11 survey"> 
					<h2>설문 / 투표</h2>
					<p class="question"><strong>질문 ) </strong>신용보증재단 포털시스템을 사용해보신 소감을 선택해주세요.</p>
					<form id="form1" name="form1" method="post" action="">
						<label for="survey_0"></label><input type="radio" name="survey" value="매우만족" id="survey_0" /> 매우만족한다<br />
						<label for="survey_1"></label><input type="radio" name="survey" value="만족한다" id="survey_1" /> 만족한다<br />
						<label for="survey_2"></label><input type="radio" name="survey" value="불만족한다." id="survey_2" /> 불만족한다<br />
						<label for="survey_3"></label><input type="radio" name="survey" value="매우 불만족한다." id="survey_3" /> 매우 불만족한다
					</form>
					<!-- 버튼영역 -->
					<div class="btnArea"><a href="#">참여하기</a><span><a href="#">결과보기</a></span></div>
					<!-- 버튼영역 //-->
				</div>
				<!-- 설문/투표 //-->
				<!-- 주간식단안내 -->
				<div class="p_10 menubanner">
					<p><span class="menu_title">주간식단안내</span><span class="txt"><a href="#">자세히보기</a></span></p>
				</div>
				<!-- 주간식단안내 //-->
				<!-- 배너존 -->
				<div class="p_10 bannerzone">
					<p class="num">
						<a href="#" class="page"><img src="image/li_off.png" alt="첫번째페이지" /></a>
						<a href="#" class="page"><img src="image/li_on.png" alt="두번째페이지" /></a>
						<a href="#" class="page"><img src="image/li_off.png" alt="세번째페이지" /></a>
					</p>
					<p><a href="#"><img class="bannerimage" src="image/banner.gif" alt="배너 존 이미지" /></a></p>
				</div>
				<!-- 배너존 //-->
				<!-- 전자결재 -->
				<div class="p_10 additional">
					<h4>전자결재</h4>
					<div class="app_mail">
						<ul>
							<li class="first"><a href="#"><span>결재</span><em>00건</em></a></li>
							<li><a href="#"><span>수신</span><em>00건</em></a></li>
							<li><a href="#"><span>공람</span><em>00건</em></a></li>
						</ul>
					</div>
				</div>
				<!-- 전자결재 //-->
				<!-- 도서현황 -->
				<div class="p_10 additional">
					<h4>도서현황</h4>
					<div class="app_mail">
						<ul>
							<li class="first"><a href="#"><span>대출</span><em>00건</em></a></li>
							<li><a href="#"><span>예약</span><em>00건</em></a></li>
							<li class="return"><a href="#"><span>미반납</span><em>00건</em></a></li>
						</ul>
					</div>
				</div>
				<!-- 도서현황 //-->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
			</div>
			<!-- rightArea //-->
		</div>
		<!-- contentsArea //-->
		<!-- footerArea -->
		<div id="footerArea">
			<p class="footer_logo"><img src="image/Footer_logo.png" alt="솔트웨어 로고" /></p>
			<p class="logo_txt">
				<ul>
					<li class="address">서울특별시 구로구 디지털로 34길 55, 9F 솔트웨어 (코오롱 싸이언스밸리 2차) <span class="footer_border">TEL<strong>02-2025-0066</strong></span><span class="footer_border">FAX <strong>02-2025-4935</strong></span></li>
					<li class="copyright">COPYRIGHT 2014 SALTWARE UNIVERSIRT. ALL RIGHTS RESERVED.</li>
				</ul>
			</p>
		</div>
		<!-- footerArea //-->
	</div>
	<!-- body_wrap //-->
</div>
<!-- body //-->
</body>
</html>
