<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>:: enview_Standard::</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
<!-- header -->
<div id="header">
	<!-- header_wrap -->
	<div class="header_wrap">
		<!-- 네비게이션 -->
		<div class="nav">
			<ul>
				<li class="first"><a href="#">공지사항</a></li>
				<li><a href="#">일정</a></li>
				<li><a href="#">설문/투표</a></li>
				<li><a href="#">이벤트/행사</a></li>
				<li><a href="#">카페</a></li>
				<li class="last"><a href="#">마이페이지</a></li>
			</ul>
			<ul class="nav_login">
				<li class="first"><a href="#">로그아웃</a></li>
				<li><a href="#">홈</a></li>
				<li><a href="#">Q&A</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">총장에게바란다</a></li>
				<li class="last"><a href="#">건의합니다</a></li>
			</ul>
		</div>
		<!-- 네비게이션 //-->
		<h1><img src="images/main/logo.png" alt="솔트웨어 로고" /></h1>
        <!-- 검색 -->
        <div class="searchArea">
            <form name="searchfrm">
                <fieldset>
                    <legend>검색</legend>
					<div class="searchbar">
						<label for="search"></label><input type="text" id="search" class="search" value="검색어를 입력하세요"/>
					</div>
					<a href="#">검색</a>
                </fieldset>
            </form>
        </div>
        <!-- 검색 //-->
        <!-- 날씨 -->		
        <a href="#" class="weather">
        	<p><img src="images/main/weather_icon.gif" alt="날씨아이콘" /><span class="templete">22℃</span></p>
        	<span><strong>서울</strong> 6월 18일 <strong>13 :00</strong> 현재</span>
        </a>
        <!-- 날씨 //-->
		<!-- GNB -->
		<div class="gnb">
			<ul>
				<li><a href="#">홈페이지</a></li>
				<li><a href="#">웹메일</a></li>
				<li><a href="#">학사</a></li>
				<li><a href="#">행정</a></li>
				<li><a href="#">도서관</a></li>
			</ul>
		</div>
		<!-- GNB //-->
		<!-- 시스템 더보기 -->
		<div id="menu">
			<!-- allmArea -->
			<div class="allmArea">
				<p class="btn_off"><a href="#"><span>시스템 더보기</span></a></p>
				<p class="btn_on"><a href="#"><span>시스템 더보기</span></a></p>
				<!-- 시스템 더보기 리스트-->
				<div id="allmenu">
					<ul>
						<li><a href="#">시스템더보기</a></li>
						<li><a href="#">시스템더보기</a></li>
					</ul>
				</div>
				<!-- 시스템 더보기 리스트 //-->
			</div>
			<!-- allmArea//-->
		</div>
		<!-- 시스템 더보기 -->
	</div>
	<!-- header_wrap -->
</div>
<!-- header //-->
<!-- body -->
<div id="body">
	<!-- body_wrap -->
	<div class="body_wrap">
		<!-- contentsArea -->
		<div id="contentsArea">
			<!-- leftArea -->
			<div id="leftArea">
				<!-- 개인정보영역 -->
				<div class="p_11 personal">
					<!-- 신원 정보 -->
					<div class="personal_info">
						<p class="identity"><span class="name"><strong>홍길동</strong>님</span><span class="major">국어국문학과(학생)</span></p>
					</div>
					<!-- 신원정보 //-->
					<!-- 로그인시 나의 정보 -->
					<div class="myinfo">
						<ul>
							<li><span class="mail">메일</span><em>1000통</em></li>
							<li><span class="message">쪽지</span><em>1000통</em></li>
							<li class="list"><span class="finallogin">최종로그인 2014.06.01 03:21</span></li>
						</ul>
						<p class="adjust"><a href="#">개인정보 수정</a><a href="#">비밀번호 변경</a></p>
						<p class="account"><select><option selected="선택">학생(재학)</option><option>교원(전임)</option><option>직원(재직)</option></select></p>
					</div>
					<!-- 로그인시 나의 정보 //-->
					<!-- 버튼 영역 -->
					<div class="btnArea"><a class="logout" href="#"><span>로그아웃</span></a><a class="mypage" href="#"><span>카페</span></a></div>
					<!-- 버튼 영역 //--> 
				</div>
				<!-- 개인정보영역 //-->
				<!-- 도서현황 -->
				<div class="p_10 additional">
					<h4>도서현황</h4>
					<div class="app_mail">
						<ul>
							<li class="first"><a href="#"><span>대출</span><em>100건</em></a></li>
							<li><a href="#"><span>예약</span><em>00건</em></a></li>
							<li class="return"><a href="#"><span>미반납</span><em>00건</em></a></li>
						</ul>
					</div>
				</div>
				<!-- 도서현황 //-->
				<!-- 학사일정 -->
				<div class ="p_13 schedule">
					<h2>학사일정</h2>
                    <!-- data-->
                    <div class="data">
                        <p><a href="#"><img src="images/main/sche_arr_pevr.gif" alt="이전달" /></a> <span class="month">2014.<strong>06</strong></span><a href="#"><img src="images/main/sche_arr_next.gif" alt="다음달" /></a> <a class="btn_rgray24" href="#"><span>목록</span></a></p>
                        <table class="calender" summary="나의일정 리스트" cellpadding="0" cellspacing="0">
                        <legend>나의일정 리스트</legend>
                        <colgroup>
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                            <col width="px" />
                        </colgroup>
                            <thead>
                                <tr>
                                    <th class="sun">일</th>
                                    <th>월</th>
                                    <th>화</th>
                                    <th>수</th>
                                    <th>목</th>
                                    <th>금</th>
                                    <th>토</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="row sun"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>1</td>
                                    <td class="sat">2</td>
                                </tr>
                                <tr>
                                    <td class="row sun">3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td class="sat">9</td>
                                </tr>
                                <tr>
                                    <td class="row sun fixed">10</td>
                                    <td>11</td>
                                    <td class="fixed color">12</td>
                                    <td class="fixed color">13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td class="sat">16</td>
                                </tr>
                                <tr>
                                    <td class="row sun">17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                    <td class="today fixed color">21</td>
                                    <td>22</td>
                                    <td class="sat">23</td>
                                </tr>
                                <tr>
                                    <td class="row sun">24</td>
                                    <td>25</td>
                                    <td class="fixed color">26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td> 
                                    <td class="sat fixed">30</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li><span class="title"><a href="#">여름방학 일정 공지 7월 10일 ~ 8월 10일</a></span></li>
                            <li><span class="title"><a href="#">가말고사 일정에 대하여 알려드립니다.</a></span></li>
                            <li><span class="title"><a href="#">여름방학 일정 공지 7월 10일 ~ 8월 10일</a></span></li>
                            <li><span class="title"><a href="#">가말고사 일정에 대하여 알려드립니다.</a></span></li>
                        </ul>
                    </div>
                    <!-- data//-->
					<span class="more"><a href="#">더보기</a></span>
				</div>
				<!-- 학사일정 //-->
				<!-- 전자결재 -->
				<div class="p_10 additional">
					<h4>전자결재</h4>
					<div class="app_mail">
						<ul>
							<li class="first"><a href="#"><span>대출</span><em>100건</em></a></li>
							<li><a href="#"><span>예약</span><em>00건</em></a></li>
							<li class="return"><a href="#"><span>미반납</span><em>00건</em></a></li>
						</ul>
					</div>
				</div>
				<!-- 전자결재 //-->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
			</div>
			<!-- leftArea //-->
			<!-- centerArea -->
			<div id="centerArea">
				<!-- 아이콘 -->
				<div class="p_21 main_icon">
					<div class="view">
						<ul>
							<li class="first"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image11','','images/main/icon01_over.gif',1)"><img src="images/main/icon01.gif" alt="증명서 발급" name="Image11" id="Image11" /></a></li>
							<li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image12','','images/main/icon02_over.gif',1)"><img src="images/main/icon02.gif" alt="성적조회" name="Image12" id="Image12" /></a></li>
							<li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image13','','images/main/icon03_over.gif',1)"><img src="images/main/icon03.gif" alt="식단 조회" name="Image13" id="Image13" /></a></li>
							<li class="middleline"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image14','','images/main/icon04_over.gif',1)"><img src="images/main/icon04.gif" alt="이수학점 조회" name="Image14" id="Image14" /></a></li>
							<li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image15','','images/main/icon05_over.gif',1)"><img src="images/main/icon05.gif" alt="찾아오시는 길" name="Image15" id="Image15" /></a></li>
							<li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image16','','images/main/icon06_over.gif',1)"><img src="images/main/icon06.gif" alt="캠퍼스 안내" name="Image16" id="Image16" /></a></li>
							<li><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image17','','images/main/icon07_over.gif',1)"><img src="images/main/icon07.gif" alt="교과과정 조회" name="Image17" id="Image17" /></a></li>
							<li class="lastline"><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image18','','images/main/icon08_over.gif',1)"><img src="images/main/icon08.gif" alt="지도교수 상담" name="Image18" id="Image18" /></a></li>
						</ul>
					</div>
				</div>
				<!-- 아이콘 // -->
				<!-- maincontents-->
				<div class="p_21">
					<!-- portalNotice-->
					<div id="Portlet_tab_main" class="Portlet_tab_main m1">
						<ul>
							<li class="m1"><a href="#" class="first"><span>To-Do List</span></a>
								<!-- month-->
								<p class="month">
									<strong><span class="year">2014년</span> <span><a href="#"><img src="images/main/sche_arr_pevr.gif" alt="이전달" /></a></span> <span>06월 24일 화요일</span> <span><a href="#"><img src="images/main/sche_arr_next.gif" alt="다음달" /></a></span> <span class="icon_cal"><a href="#"><img src="images/main/calender.gif" alt="달력아이콘" /></a></span></strong>
								</p>
								<!-- month//-->
								<ul>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">18:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">18:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
								</ul>
							<span class="more"><a href="#">더보기</a></span>                            
							 </li>
							 <li class="m2"><a href="#"><span>업무현황</span></a>
								<!-- month-->
								<p class="month">
									<strong><span class="year">2014년</span> <span><a href="#"><img src="images/main/sche_arr_pevr.gif" alt="이전달" /></a></span> <span>06월 24일 화요일</span> <span><a href="#"><img src="images/main/sche_arr_next.gif" alt="다음달" /></a></span> <span class="icon_cal"><a href="#"><img src="images/main/calender.gif" alt="달력아이콘" /></a></span></strong>
								</p>
								<!-- month//-->
								<ul>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">18:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">13:00  구비문학개론 강의</a></span></li>
									<li><span class="title"><a href="#">14:30  세미나 참석 일정 확인 및 담당자에게 전화 통화 약속</a></span></li>
									<li><span class="title"><a href="#">15:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
									<li><span class="title"><a href="#">16:00  유재석, 하동훈씨 저녁 약속</a></span></li>
									<li><span class="title"><a href="#">18:00  국제 어학회 기조연설 및 학회 참석</a></span></li>
								</ul>
							<span class="more"><a href="#">더보기</a></span>                            
							</li>
						</ul>
					</div>
					<!-- portalNotice//-->
				</div>
				<!-- maincontents//-->
				<!-- 공지사항 포틀릿 -->
				<div class="p_21">
					<!-- Portlet_tab_normal -->
					<div id="Portlet_tab_normal" class="Portlet_tab_normal m1">
						<!-- 탭영역 -->
						<ul>
							<!-- 공지사항 -->
							<li class="m1"><a href="#" class="first"><span>공지사항</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                     
							 </li>
							 <!-- 공지사항 //-->
							 <!-- 학사공지 -->
							 <li class="m2"><a href="#"><span>학사공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							</li>
							<!-- 학사공지 //-->
							<!-- 학과공지 -->
							<li class="m3"><a href="#"><span>학과공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							</li>
							<!-- 학과공지 //-->
							<!-- 장학공지 -->
							<li class="m4"><a href="#"><span>장학공지</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내  <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                           
							</li>
							<!-- 장학공지 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_normal //-->
				</div>
				<!-- 공지사항 포틀릿 //-->
				<!-- 학교소식 포틀릿 -->
				<div class="p_21">
				<!-- Portlet_tab_normal -->
					<div id="Portlet_tab_normal" class="Portlet_tab_normal m1">
						<!-- 탭영역-->
						<ul>
							<!-- 학교소식 -->
							<li class="m1"><a href="#" class="first"><span>학교소식</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                        
							 </li>
							 <!-- 학교소식 //-->
							 <!-- 학과게시판 -->
							 <li class="m2"><a href="#"><span>학과게시판</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>                         
							</li>
							<!-- 학과게시판 //-->
							<!-- 연구과제 -->
							<li class="m3"><a href="#"><span>연구과제</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 연구과제 //-->
							<!-- 자유게시판 -->
							<li class="m4"><a href="#"><span>자유게시판</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 자유게시판 //-->
							<!-- 벼룩시장 -->
							<li class="m5"><a href="#"><span>벼룩시장</span></a>
								<ul>
									<li><span class="title"><a href="#">[경력개발센터] 동국제강그룹 유니온스틸 재학생 주니어 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-11-11</span></li>
									<li><span class="title"><a href="#">2013 Global Research 참가자 모집 안내 <img src="images/main/new_icon.gif" alt="새로운 글" /></a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[경력개발센터] 한국전력공사 채용연계형 인턴 추천</a></span> <span class="date">2014-07-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
									<li><span class="title"><a href="#">'지겹지 아니한가 스트레스...힐링텐트로 오세요~‘</a></span> <span class="date">2014-06-11</span></li>
									<li><span class="title"><a href="#">[모집] 자원봉사지원센터 '이웃사랑' 32기 봉사자 모집</a></span> <span class="date">2014-07-04</span></li>
								</ul>
								<span class="more"><a href="#">더보기</a></span>
							</li>
							<!-- 벼룩시장 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_normal //-->
				</div>
				<!-- 학교소식 포틀릿 //-->
				<!-- 카페 -->
				<div class="p_11 Portlet_tab">  
					<!-- 공통 배경 -->
					<div class="commonBG">
						<h2>Cafe</h2>
						<!-- Portlet_title_tab_normal -->
						<div id="Portlet_title_tab_normal" class="Portlet_title_tab_normal m1">
							<!-- 탭영역 -->
							<ul>
								<!-- 최신글-->
								<li class="m1"><a href="#" class="first"><span>최신글</span></a>
									<ul>
										<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
										<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
										<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
										<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
									</ul>    
									<span class="more"><a href="#">더보기</a></span>
								</li>
								<!-- 최신글-->
								<!-- 가입카페 -->
								<li class="m2"><a href="#"><span>가입카페</span></a>
									<ul>
										<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
										<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
										<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
										<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
									</ul>   
									<span class="more"><a href="#">더보기</a></span>
								</li>
								<!-- 가입카페 //-->
								<!-- 최신카페 -->
								<li class="m3"><a href="#"><span>최신카페</span></a>
									<ul>
										<li><span class="title"><a href="#">고전문학회 모꼬지 일정</a></span></li>
										<li><span class="title"><a href="#">밴드원 모집에 대하여 알려드립니..</a></span></li>
										<li><span class="title"><a href="#">카페이용 시 유의사항을 알려드립..</a></span></li>
										<li><span class="title"><a href="#">카페 개설 안내</a></span></li>
									</ul>
									<span class="more"><a href="#">더보기</a></span>
								</li>
								<!-- 최신카페 //-->
							</ul>
							<!-- 탭영역 //-->
						</div>
						<!-- 공통 배경 //-->
					</div>                
					<!-- Portlet_title_tab_normal //-->
				</div>
				<!-- 카페 //-->
				<!-- 이벤트/행사 -->
				<div class ="p_11 Portlet_normal">
					<!-- 공통 배경 -->
					<div class="commonBG">
						<h2>이벤트/행사</h2>
						<ul class="list">
							<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
							<li><span class="title"><a href="#">여름방학 농촌활동 참가안내드립니</a></span></li>
							<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
							<li><span class="title"><a href="#">여름방학 농촌활동 참가안내드립니</a></span></li>
							<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
							<li><span class="title"><a href="#">학내 창업스쿨 강연회</a></span></li>
						</ul>
						<span class="more"><a href="#">더보기</a></span>
					</div>
					<!-- 공통 배경 //-->
				</div>
				<!-- 이벤트/행사 //-->
			</div>
			<!-- centerArea -->
			<!-- rightArea -->
			<div id="rightArea">
				<!-- 강좌안내 -->
				<div class="p_11 Portlet_tab">
					<!-- Portlet_tab_mini -->
					<div id="Portlet_tab_mini" class="Portlet_tab_mini m1">
						<!-- 탭영역-->
						<ul>
							<!-- 나의 개설강좌 -->
							<li class="m1"><a href="#" class="first"><span>나의 개설강좌</span></a>
								<ul class="overflow">
									<li class="first"><span class="title"><a href="#">09:30 ~ 11:30 [인문관 201호]</a></span>
										<p><span class="subtitle"><a href="#">국어학개론</a></span></p>
									</li>
									<li><span class="title"><a href="#">12:30 ~ 14:30 [인문관 411호]</a></span>
										<p><span class="subtitle"><a href="#">구비문학개론</a></span></p>
									</li>
									<li><span class="title"><a href="#">15:30 ~ 16:30 [인문관 405호]</a></span>
										<p><span class="subtitle"><a href="#">화곡론</a></span></p>
									</li>
									<li><span class="title"><a href="#">12:30 ~ 14:30 [인문관 411호]</a></span>
										<p><span class="subtitle"><a href="#">구비문학개론</a></span></p>
									</li>
								</ul>				
							 </li>
							 <!-- 나의 개설강좌 -->
							 <!-- 강의 시간표-->
							 <li class="m2"><a href="#"><span>강의 시간표</span></a>
								<ul class="overflow">
									<!-- 강의 시간 테이블 표 -->								
									<table cellpadding="0" cellspacing="0" summary="나의강의시간표" class="lecture_table">
										<caption>나의 강의시간표 테이블</caption>
										<colgroup>
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
											<col width="40px" />
										</colgroup>
											<thead>
												<tr>
													<th class="first">요일</th>
													<th>월</th>
													<th>화</th>
													<th>수</th>
													<th>목</th>
													<th>금</th>
													<th>토</th>
													<th>일</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="first">09:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">10:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">11:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">13:00</td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">14:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">15:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">16:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">17:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론"></a></td>
												</tr>
												<tr>
													<td class="first">18:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">19:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">20:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
												<tr>
													<td class="first">21:00</td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론"></a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
													<td><a href="#" title="구비문학개론">●</a></td>
												</tr>
											</tbody>
									</table>
									<!-- 강의 시간 테이블표 //-->
								</ul>				
							</li>
							<!-- 강의 시간표 //-->
						</ul>
						<!-- 탭영역//-->
					</div>
					<!-- Portlet_tab_mini //-->
				</div>
				<!-- 강좌안내 //-->
				<!-- 주간식단안내 -->
				<div class="p_10 menubanner">
					<p><span class="menu_title">주간식단안내</span><span class="txt"><a href="#">자세히보기</a></span></p>
				</div>
				<!-- 주간식단안내 //-->
				<!-- 설문/투표 -->
				<div class="p_11 survey"> 
					<h2>설문 / 투표</h2>
					<p class="question"><strong>질문 ) </strong>신용보증재단 포털시스템을 사용해보신 소감을 선택해주세요.</p>
					<form id="form1" name="form1" method="post" action="">
						<label for="survey_0"></label><input type="radio" name="survey" value="매우만족" id="survey_0" /> 매우만족한다<br />
						<label for="survey_1"></label><input type="radio" name="survey" value="만족한다" id="survey_1" /> 만족한다<br />
						<label for="survey_2"></label><input type="radio" name="survey" value="불만족한다." id="survey_2" /> 불만족한다<br />
						<label for="survey_3"></label><input type="radio" name="survey" value="매우 불만족한다." id="survey_3" /> 매우 불만족한다
					</form>
					<!-- 버튼영역 -->
					<div class="btnArea"><a href="#">참여하기</a><span><a href="#">결과보기</a></span></div>
					<!-- 버튼영역 //-->
				</div>
				<!-- 설문/투표 //-->
				<!-- 배너존 -->
				<div class="p_10 bannerzone">
					<p class="num">
						<a href="#" class="page"><img src="images/main/li_off.png" alt="첫번째페이지" /></a>
						<a href="#" class="page"><img src="images/main/li_on.png" alt="두번째페이지" /></a>
						<a href="#" class="page"><img src="images/main/li_off.png" alt="세번째페이지" /></a>
					</p>
					<p><a href="#"><img class="bannerimage" src="images/main/banner.gif" alt="배너 존 이미지" /></a></p>
				</div>
				<!-- 배너존 //-->
				<!-- 자주찾는 메뉴 -->
				<div class="p_11 bookmark">
					<h2>자주찾는 메뉴</h2>
					<ul class="list">
						<li><span class="title"><a href="#">인사관리</a></span></li>
						<li><span class="title"><a href="#">사무관리</a></span></li>
						<li><span class="title"><a href="#">재무관리</a></span></li>
						<li><span class="title"><a href="#">수강신청조회</a></span></li>
						<li><span class="title"><a href="#">조직회</a></span></li>
						<li><span class="title"><a href="#">시설관리신청</a></span></li>
						<li><span class="title"><a href="#">인사관리</a></span></li>
						<li><span class="title"><a href="#">조직도</a></span></li>
					</ul>
				</div>
				<!-- 자주찾는 메뉴 //-->
				<!-- 비어있는 포틀릿 -->
				<div class="p_11 empty_portlet">
				</div>
				<!-- 비어있는 포틀릿 //-->
			</div>
			<!-- rightArea //-->
		</div>
		<!-- contentsArea //-->
		<!-- footerArea -->
		<div id="footerArea">
			<p class="footer_logo"><img src="images/main/Footer_logo.png" alt="솔트웨어 로고" /></p>
			<p class="logo_txt">
				<ul>
					<li class="address">서울특별시 구로구 디지털로 34길 55, 9F 솔트웨어 (코오롱 싸이언스밸리 2차) <span class="footer_border">TEL<strong> 02-2025-0066</strong></span><span class="footer_border">FAX <strong>02-2025-4935</strong></span></li>
					<li class="copyright">COPYRIGHT 2014 SALTWARE UNIVERSIRT. ALL RIGHTS RESERVED.</li>
				</ul>
			</p>
		</div>
		<!-- footerArea //-->
	</div>
	<!-- body_wrap //-->
</div>
<!-- body //-->
</body>
</html>
