#wrapper{}

#header{background:url(../images/header_bg.png) repeat-x;}
.head{width:1280px; margin:0 auto;}

#container{margin:0 0 10px 0;}
#container:after{display:block; clear:both; content:"";}
#footer{clear:both; background:url(../images/footer_bg.png) repeat-x;}
.foot{width:1280px; margin:0 auto;}
.content{width:1280px; margin:0 auto;  position:relative;}
.cafe_side_area{width:242px; float:left;}
.cafe_content_area{width:1020px; float:right;}

/* 踰꾪듉 */
.btn_new{width:25px; height:25px; background:url(../images/btn_refresh.gif) no-repeat; border:0; text-indent:-9999px; cursor:pointer;}
.icon_favorite{width:13px; height:13px; text-indent:-9999px; cursor:pointer; display:inline-block;}
.icon_favorite.off{background:url(../images/icon_star_off.png) no-repeat center;}
.icon_favorite.on{background:url(../images/icon_star_on.png) no-repeat center;}

.btn{display:inline-block; height:30px; padding:0 10px; margin:0 1px; line-height:30px;box-sizing:border-box;cursor:pointer;}
.btn.white{border:1px solid #ddd;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
.btn.black{background:#525252; border:0; color:#fff; height:30px}

/* paging */
.paging{text-align:center; padding-top:10px;}
.paging div{display:inline-block;}
.paging a{display:block; float:left; min-width:10px; padding:0 5px; height:24px; margin:0 2px; line-height:24px; text-align:center; }
.paging a.btn{border:1px solid #ddd; text-indent: -9999px; width:20px; padding:0;}
.paging a.btn.first{background:url(../images/icon_paging_first.png)center no-repeat;)}
.paging a.btn.prev{background:url(../images/icon_paging_prev.png)center no-repeat;)}
.paging a.btn.next{background:url(../images/icon_paging_next.png)center no-repeat;)}
.paging a.btn.last{background:url(../images/icon_paging_last.png)center no-repeat;)}
.paging a.active{color:#022859; font-weight:bold;}

/*寃��깋*/
.board_sch{text-align:center; margin-top:30px;}
.board_sch fieldset div{display:inline-block; width: 200px; background: #fff; border: 1px solid #e6e6e6;}
.board_sch fieldset input[type=text]{ width: 170px; border:none;}
.board_sch fieldset input[type=submit]{width: 26px; height:26px; text-indent: -99999px; background: url(../images/icon_search.png)center no-repeat; cursor: pointer;}

/* 移댄럹寃��깋 */
.cafe_search_wrap{position:relative;  padding-right:120px; }
.cafe_search_text{border:3px solid #526ab8; height:31px; position:relative;}
.cafe_search_text select{width:100px; height:31px; border:0;}
.cafe_search_text_input{position:absolute; right:0; left:100px; top:0;}
.cafe_search_text_input input{width:100%; height:31px; border:0;}
.cafe_search_text_input input:focus{border:0; background:none; box-shadow:none; }
.cafe_search_btn{width:110px; position:absolute; right:0; top:0; height:37px; cursor:pointer;
border:1px solid #ddd;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

/* 而ㅻ�ㅻ땲�떚移댄뀒怨좊━ */
.commu_category_wrap{border:1px solid #ddd; padding:10px 15px; overflow:hidden;}
/* 20170104 ha0kim : 移댄뀒怨좊━ �쁺�뿭 */
.commu_category_wrap{border:1px solid #ddd; padding:10px 15px; overflow:hidden;padding-bottom: 30px;}
.commu_category_wrap:after{clear:both; content:""; display:block;}
.commu_category_title{border-bottom:1px solid #ddd; padding-bottom:7px; overflow:hidden; color:#000;}
.commu_category_title_left{float:left; font-size:14px; font-weight:bold;}
.commu_category_title_right{float:right; font-size:12px; font-weight:300;}
.commu_category_title_right a{text-decoration:underline;}
.commu_category_list{padding:5px 0;}
.commu_category_list li{float:left; width:20%; font-size:13px; color:#555; line-height:25px; background:url(../images/blt_black_dot.gif) no-repeat left center; padding-left:8px; box-sizing:border-box;}
.commu_category_list li.on{font-weight:bold;}

/* 硫붿씤 移댄럹紐⑸줉 */
.main_cafe_wrap{width:100%; position:relative; height:460px;}
.main_cafe_wrap:after{clear:both; content:""; display:block;}
.main_cafe_list{width:100%;  border-bottom:1px solid #ddd; height:40px;}
.main_cafe_tab{float:left; margin-top:1px; height:40px; line-height:40px; padding:0 20px; border:1px solid #c7daeb; border-bottom:1px solid #ddd; box-sizing:border-box; cursor:pointer; background:#f6f7f9; font-size:14px;}
.main_cafe_tab.on{border:1px solid #ddd; border-bottom:1px solid #fff; background:#fff; font-weight:bold;}
.main_cafe_cont{width:100%; }
.main_cafe_cont a.more{ position:absolute; top:-2px; right:0; font-weight:normal; color:#666; }
.main_cafe_cont ul{width:100%; position:absolute; top:40px; left:0; }
.main_cafe_cont ul li{padding:17px 20px; position:relative; height:100px; border:1px solid #ddd; border-top:none;}
.main_cafe_cont ul li .img{border:3px solid #c6c6c6; width:130px; height:100px; box-sizing:border-box; position:absolute;}
.main_cafe_cont ul li .img img{width:100%; height:100%;}
.main_cafe_cont ul li .img a{}
.main_cafe_cont ul li .txt{font-size:13px; line-height:25px; margin-left:150px;}
.main_cafe_cont ul li .txt .title{font-size:14px; font-weight:normal;}
.main_cafe_cont ul li .txt .info{font-weight:300;}
.main_cafe_cont ul li .txt .info span{margin-right:10px;}
.main_cafe_cont ul li .txt .cont{font-size:13px; font-weight:300;}

/* 媛쒖씤�쁺�뿭 理쒖떊湲� */
.cafe_side_join{padding:10px 20px 15px 20px; position:relative; border:1px solid #ddd;}
.cafe_side_join h3{font-size:14px; padding:10px 0; font-weight: bold;}
.cafe_side_join .more{position:Absolute;  top:20px; right:34px; color:#999; font-size:12px; font-weight:300;}
.cafe_side_join ul{clear:both;}
.cafe_side_join ul li{font-size:13px; font-weight:300; line-height:210%;cursor:pointer;}
.cafe_side_join ul li.empty{text-align:center; color:#555;}


/* 媛쒖씤�쁺�뿭 理쒖떊湲��럹�씠吏� */
.latest_page{width:100%; height:20px; text-align:center; line-height:20px; margin-top:22px; font-size:11px; color:#555;}
.latest_page .btn{border:0; width:24px; height:20px; text-indent:-9999px; cursor:pointer; border:1px solid #ddd; margin:0 5px;}
.latest_page .btn.prev{background:url(../images/btn_latestpage_prev.png) no-repeat center; }
.latest_page .btn.next{background:url(../images/btn_latestpage_next.png) no-repeat center; }
.latest_page2{position:absolute; top:22px; right:20px; width:23px; height:12px; text-align:left;}
.latest_page2{position:absolute; top:22px; right:20px; width:26px; height:12px; text-align:left;}
.latest_page2 .btn{border:1; height:12px; padding:0; margin:0; text-indent:-9999px; cursor:pointer;}
.latest_page2 .btn.prev{width:12px; background:url(../images/btn_rankprev.gif) no-repeat center; }
.latest_page2 .btn.next{width:11px; background:url(../images/btn_ranknext.gif) no-repeat center; }


/*�뒳�씪�씠�뜑*/
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.no-js .slides > li:first-child {display: block;}
.flexslider { position:relative;}
.flexslider_count{width:100%; font-size:13px; color:#555;  text-align:center;}
.flexslider_count span{display:inline-block; }
.flexslider_count .slide-current-slide{}
.flexslider_count .slide-total-slides{}

/* 移댄럹醫뚯륫諛곕꼫 */
.cafe_side_banner{padding:0 15px; position:relative; border:1px solid #ddd;}
.cafe_side_banner a{display:block; height:60px; line-height:60px; font-size:16px; text-indent:70px;}
.cafe_side_banner a.bn01{background:url(../images/cafe_side_banner01.png) no-repeat 15px center; border-bottom:1px solid #ddd;}
.cafe_side_banner a.bn02{background:url(../images/cafe_side_banner02.png) no-repeat 20px center;}

/* 移댄럹�옲�궧 */
.cafe_side_rank{padding:10px 20px 15px 20px; position:relative; border:1px solid #ddd;}
.cafe_side_rank ul li h3{font-size:14px; padding:10px 0; font-weight:bold;}
.cafe_side_rank ul{clear:both;}
.cafe_side_rank ul li{font-size:13px; font-weight:300; line-height:170%; position:relative;cursor:pointer;}
.cafe_side_rank ul li a{text-indent:20px;}
.cafe_side_rank ul li span{padding:0 2px; box-sizing:border-box; width:25px; float:right; text-align:right;}
.cafe_side_rank ul li .text-overflow{display:inline-block; width:175px;}
/*�닔�젙 20161216 : ha0kim*/
.cafe_side_rank ul li a.rank1{background:url(../images/blt_rank01.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank2{background:url(../images/blt_rank02.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank3{background:url(../images/blt_rank03.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank4{background:url(../images/blt_rank04.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank5{background:url(../images/blt_rank05.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank6{background:url(../images/blt_rank06.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank7{background:url(../images/blt_rank07.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank8{background:url(../images/blt_rank08.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank9{background:url(../images/blt_rank09.gif) no-repeat left center;}
.cafe_side_rank ul li a.rank10{background:url(../images/blt_rank10.gif) no-repeat left center;}


/* �쇊履쎈찓�돱�쁺�뿭 */
.cafe_menu_wrap{ width:100%; border:1px solid #ddd; box-sizing:border-box; padding:0 15px;}
.cafe_menu_wrap h3{padding:17px 0; font-size:22px; font-weight:bold;}
.cafe_menu_wrap .lnb_dep1 > li:first-child{border-top:none;}
.cafe_menu_wrap .lnb_dep1 > li{border-top:1px solid #ddd; padding:10px 0; font-size:15px; word-break:break-all;}
.cafe_menu_wrap .lnb_dep1 > li > a{position:relative; padding-right:25px; box-sizing:border-box;}
.cafe_menu_wrap .lnb_dep1 > li > a button{cursor:pointer; border:0; top:50%; margin-top:-10px; position:absolute; right:0; width:20px; height:20px; background:#fff url(../images/icon_lnb_off.png) no-repeat center; text-indent:-9999px; z-index:10;}
.cafe_menu_wrap .lnb_dep1 > li > a button.on {background:url(../images/icon_lnb_on.png) no-repeat center;}

.cafe_menu_wrap .lnb_dep2 {margin-top:5px; display:none}
.cafe_menu_wrap .lnb_dep2 > li{padding:5px 0; font-size:13px;  color:#999}
.cafe_menu_wrap .lnb_dep2 > li.on{color:#002859;}
.cafe_menu_wrap .lnb_dep1 > li a, .content_left .lnb_dep2 > li a {display:block; box-sizing:border-box;}


/* 移댄럹媛쒖씤�젙蹂� */
.cafe_side_member{background:#f5f7f9; border:1px solid #ddd; border-bottom:2px solid #8d96a0; padding:20px;}
.cafe_side_member_txt{font-size:13px;}
.cafe_side_member_txt strong{color:#002859;}
.cafe_side_member_btn{text-align:left; margin-top:20px;} 
.cafe_side_member_btn a{display:inline-block;  background:#526ab8; color:#fff; width:90px; height:24px; line-height:24px; text-align:center;}
.cafe_side_member_btn a.btn01{margin-right:17px;}

.board_wrap{padding:15px;}
.board_btn_wrap{margin:10px 0;}
.board_btn_wrap:after{display:block;content:'';clear:both;}
.board_btn_wrap.top{margin-top:0;}
.board_btn_wrap_center{text-align:center;}
.board_btn_wrap_right{float:right;}
.board_btn_wrap_left{float:left;}
.board_btn_wrap_left .secret{height:30px; background:url(../images/blt_cafe_secret.gif) no-repeat left center; line-height:30px; text-indent:30px; font-size:14px; font-weight:normal;}
.board_btn_wrap_left h3 > span{font-weight:normal; color:#999;}


.cafeadm_top{padding:0 0 15px 0; box-sizing:border-box; width:100%; box-sizing:border-box;}
.cafeadm_top:after{display:block; content:""; clear:both;}
.cafeadm_top h3{float:left; font-size:22px; font-weight:bold;}
.cafeadm_top .option{float:right; line-height:24px;}
.cafeadm_top .option label{font-size:13px; color:#555; margin-right:5px;}

.cafeadm_top .location{float:right}
.cafeadm_top .location li{float:left; line-height:24px;}
.cafeadm_top  .cafeadm_top_lan{float:right;}
.cafeadm_top .location li.last{font-weight:bold;}
.cafeadm_top .location li span{padding:0px 10px; background:url(../images/icon_lnb_off.png)no-repeat center;}
.cafeadm_top .location li.btn_new_wrap{margin-left:5px;}

.title_text{clear:both; margin-top:50px; font-weight:300; line-height:16px;}


/* 寃뚯떆�뙋紐⑸줉 */
.table_type01{width:100%;}
.table_type01 tbody tr{}
.table_type01 thead th{padding:10px 0; text-align:center; border-top:1px solid #ddd; background:#fafafa; vertical-align:middle;}
.table_type01 tbody th{background:#f7f7f7; vertical-align:middle;}

.table_type01 tbody td{padding:10px; border:1px solid #ddd; border-left:0;border-right:0; text-align:center; vertical-align:middle;}
.table_type01 tbody td a{vertical-align:middle; }
.table_type01 tbody td .icon{display:inline-block; width:16px;height:16px; vertical-align:middle; cursor:pointer; margin-right:5px;}
.table_type01 tbody td .icon.on{background:url(../images/icon_star_on.png) no-repeat;}
.table_type01 tbody td .icon.off{background:url(../images/icon_star_off.png) no-repeat;}

.table_type01 tbody td.left{padding:10px; text-align:left;}
.table_type01 tbody td.subject{padding:10px; text-align:left;}
.table_type01 tbody td.subject ul li.title{font-size:14px; margin-bottom:3px;}
.table_type01 tbody td.subject ul li.category{font-size:13px; font-weight:300;}
.table_type01 tbody td.subject ul li.intro{font-size:13px; font-weight:300;}

.table_type01 tbody td.subject img{vertical-align:middle;}
.table_type01 label{vertical-align:middle;}
.table_type01 .board_m span{margin-right:10px;}

/* 寃뚯떆�뙋�긽�꽭 */
.table_type01.view{border-top:1px solid #ddd; border-bottom:1px solid #ddd; text-align:}
.table_type01.view thead tr {background:#f7f7f7; }
.table_type01.view thead tr.tit td{padding:10px 15px 0 15px;}
.table_type01.view thead tr td{padding:10px 15px;}
.table_type01.view thead td.tit {font-size:20px; font-weight:bold; border-bottom:0; }
.table_type01.view thead td .name{float:left; font-size:14px;}
.table_type01.view thead td .date{float:right; font-size:12px;}
.table_type01.view tbody tr{}
.table_type01.view tbody tr td{padding:15px; text-align:left;}
td .board_view{overflow:auto; }
.table_type01.view tbody  td .file_list{}
.table_type01.view tbody  td .file_list li{line-height:30px;}
.table_type01.view tbody  td .file_list li img{margin-right:10px; vertical-align:middle;}

/* 寃뚯떆�뙋�옉�꽦 */
.table_type01.write{width:100%; border-top:1px solid #ddd;}
.table_type01.write tbody th, .table_type01.write tbody td{border:0; border-bottom:1px solid #ddd;  }
.table_type01.write tbody th{padding:10px; background:#f7f7f7;text-align:center; vertical-align:middle; font-size:13px;}
.table_type01.write tbody td{text-align:left; padding:10px; vertical-align:middle;}
.table_type01.write tbody td img,
.table_type01.write tbody td input[type=checkbox],
.table_type01.write tbody td input[type=radio] {vertical-align:middle;}

.table_type01.write tbody td input, .table_type01.write tbody td select{vertical-align:middle;}
.table_type01.write tbody td textarea{border:1px solid #ddd; width:100%; min-height:110px; padding:5px; box-sizing:border-box;}

/* �꺆硫붾돱 */
.tabmenu_wrap ul{padding-top:15px; background:#fafafa; border:1px solid #dddddd; overflow:hidden;}
.tabmenu_wrap ul li{float:left;  margin-bottom:15px;  padding:0 15px; font-size:12px; line-height:12px; text-align:center;}
.tabmenu_wrap ul li.on{color:#022859; font-weight:bold;}
/*.tabmenu_wrap li.first{font-weight:bold; text-decoration: underline; }*/

/* 寃��깋寃곌낵 移댄럹紐⑸줉 */
.sub_cafe_wrap{width:100%; position:relative; }
.sub_cafe_wrap{width:100%; position:relative;height:720px;}
.sub_cafe_wrap:after{clear:both; content:""; display:block;}
.sub_cafe_list{width:100%;  border-bottom:1px solid #ddd;}
.sub_cafe_tab{float:left; margin-top:1px; height:40px; line-height:40px; padding:0 20px; border:1px solid #c7daeb; border-bottom:1px solid #ddd; box-sizing:border-box; cursor:pointer; background:#f6f7f9; font-size:14px;}
.sub_cafe_tab.on{border:1px solid #ddd; border-bottom:1px solid #fff; background:#fff; font-weight:bold;}
.sub_cafe_cont{width:100%; }
.sub_cafe_cont a.more{ position:absolute; top:-2px; right:0; font-weight:normal; color:#999; }
.sub_cafe_cont ul{width:100%; }
.sub_cafe_cont ul.sub{border-top:1px solid #ddd; position:relative;}
.sub_cafe_cont ul li{padding:17px 20px; position:relative; height:100px; border:1px solid #ddd; border-top:none;}
.sub_cafe_cont ul li .img{border:3px solid #c6c6c6; width:130px; height:100px; box-sizing:border-box; position:absolute;}
.sub_cafe_cont ul li .img img{width:100%; height:100%;}
.sub_cafe_cont ul li .img a{}
.sub_cafe_cont ul li .txt{font-size:13px; line-height:25px; margin-left:150px;}
.sub_cafe_cont ul li .txt .title{font-size:14px; font-weight:normal;}
.sub_cafe_cont ul li .txt .info{font-weight:300;}
.sub_cafe_cont ul li .txt .info span{margin-right:10px;}
.sub_cafe_cont ul li .txt .cont{font-size:13px; font-weight:300;}


/* �쇊履쎈찓�돱�쁺�뿭 */
.content_left{float:left; width:242px; border:1px solid #ddd; box-sizing:border-box; padding:0 15px;}
.content_left h3{padding:17px 0; font-size:22px; font-weight:bold;}
.content_left .lnb_dep1 > li{border-top:1px solid #ddd; padding:10px 0; font-size:15px; word-break:break-all;}
.content_left .lnb_dep1 > li > a{position:relative; padding-right:25px; box-sizing:border-box;}
.content_left .lnb_dep1 > li > a button{cursor:pointer; border:0; top:50%; margin-top:-10px; position:absolute; right:0; width:20px; height:20px; background:#fff url(../images/icon_lnb_off.png) no-repeat center; text-indent:-9999px; z-index:10;}
.content_left .lnb_dep1 > li > a button.on {background:url(../images/icon_lnb_on.png) no-repeat center;}

.content_left .lnb_dep2 {margin-top:5px; display:none}
.content_left .lnb_dep2 > li{padding:5px 0; font-size:13px;  color:#999}
.content_left .lnb_dep2 > li.on{color:#002859;}
.content_left .lnb_dep1 > li a, .content_left .lnb_dep2 > li a {display:block; box-sizing:border-box;}


table span.txt_cafe{line-height:30px;padding-right:5px;}


/* 移댄럹愿�由� �쇊履쎈찓�돱�쁺�뿭 */
.content_left h2{padding:34px 0 0; font-size:22px; font-weight:bold;}
.content_left h2 span{display:inline-block; padding:5px 0 0 5px;}

/* 移댄럹愿�由� �쇊履쎈찓�돱�쁺�뿭 */
.content_left{float:left; width:242px; border:1px solid #ddd; box-sizing:border-box; padding:0 15px;}
.content_left h3{padding:17px 0; font-size:22px; font-weight:bold;}
.content_left .lnb_dep11 > li{border-top:1px solid #ddd; padding:10px 0; font-size:15px; word-break:break-all;}
.content_left .lnb_dep11 > li > a{position:relative; padding-right:25px; box-sizing:border-box;}
.content_left .lnb_dep11 > li > a button {cursor:pointer; border:0; top:50%; margin-top:-10px; position:absolute; right:0; width:20px; height:20px; background:#fff url(../images/icon_lnb_on.png) no-repeat center; text-indent:-9999px; z-index:10;}

.content_left .lnb_dep12 > li{padding:5px 0; font-size:13px;  color:#999}
.content_left .lnb_dep12 > li.on{color:#002859;}
.content_left .lnb_dep11 > li a, .content_left .lnb_dep12 > li a {display:block; box-sizing:border-box;}



/* 硫붿씤肄섑뀗痢� �긽�떒�쁺�뿭 */


.cafe_content_top{padding:0 0 15px 0; box-sizing:border-box; width:100%; box-sizing:border-box;}
.cafe_content_top:after{display:block; content:""; clear:both;}
.cafe_content_top h3{float:left; font-size:22px; font-weight:bold;}
.cafe_content_top .option{float:right; line-height:24px;}
.cafe_content_top .option label{font-size:13px; color:#555; margin-right:5px;}

.cafe_content_top .location{float:right}
.cafe_content_top .location li{float:left; line-height:24px;}
.cafeadm_top .location li.last{font-weight:bold;}
.cafe_content_top .location li span{padding:0px 10px; background:url(../images/icon_lnb_off.png)no-repeat center;}
.cafe_content_top .location li.btn_new_wrap{margin-left:5px;}

.title_text{clear:both; margin-top:50px; font-weight:300; line-height:16px;}






.cafeadm_main_state{background:#fafafa; padding:20px 0;}
.cafeadm_main_state:after{clear:both; content:""; display:block;}
.cafeadm_main_state li{width:33%; height:250px; float:left; border-right:1px solid #f1f1f1; box-sizing:border-box;}
.cafeadm_main_state li.visit{background:url(../images/bg_todayvisit.png) no-repeat center 30px;}
.cafeadm_main_state li.join{background:url(../images/bg_todayjoin.png) no-repeat center 30px; width:34%;}
.cafeadm_main_state li.post{background:url(../images/bg_todaypost.png) no-repeat center 30px; border-right:0;}
.cafeadm_main_state li div{text-align:center; }
.cafeadm_main_state li div.title{padding-top:160px; font-size:20px;}
.cafeadm_main_state li div.title span{color:#6373a9;}
.cafeadm_main_state li div.count{margin-top:5px; font-size:30px; color:#6373a9; font-weight:bold;}

.cafeadm_title{font-size:14px;}

.cafeadm_main_info{width:50%;}
.cafeadm_main_info th, .cafeadm_main_info td{text-align:left; padding:5px 0; vertical-align:middle;}
.cafeadm_main_info th{background:url(../images/blt_black_dot.gif) no-repeat left center;padding-left:10px}
.cafeadm_main_info td{}

.cafeadm_tabmenu{width:100%; height:40px; border-bottom:1px solid #ddd; padding-top:20px;}
.cafeadm_tabmenu.nbdb{border-bottom:none;}
.cafeadm_tabmenu ul {}
.cafeadm_tabmenu ul li{float:left; width:95px; margin-right:5px; height:40px; line-height:40px; text-align:center; border:1px solid #ddd; border-bottom:none; box-sizing:border-box; cursor:pointer; background:#fff; font-size:14px;}
.cafeadm_tabmenu ul li.on{background:#525252; color:#fff;}
.tabcontent{display:none;}





.cafeadm_menu_wrap{}
.cafeadm_menu_wrap:after{content:""; clear:both; display:block;}
.cafeadm_menu_list{width:200px; float:left;}
.cafeadm_menu_list_top{background:#f7f7f7; padding:10px 5px; border-top:1px solid #ddd;}
.cafeadm_menu_list_top select{height:20px; width:145px;}

.cafeadm_menu_list_middle{ border:1px solid #ddd; border-bottom:0;}
.cafeadm_menu_list_middle li{border-bottom:1px solid #ddd; padding:5px; cursor:pointer;}
.cafeadm_menu_list_middle li.on{background:#f0f0d2;}
#gubun{height:200px; line-height:200px; text-align:center; border:1px solid #ddd; box-sizing:border-box;}

.cafeadm_menu_list_bottom{padding:5px;}
.cafeadm_menu_wrap button{border:0; width:20px; height:20px; cursor:pointer; text-indent:-9999px;}
.cafeadm_menu_wrap button.top{background:url(../images/btn_up_first.gif)no-repeat;}
.cafeadm_menu_wrap button.up{background:url(../images/btn_up.gif)no-repeat;}
.cafeadm_menu_wrap button.down{background:url(../images/btn_down.gif)no-repeat;}
.cafeadm_menu_wrap button.bottom{background:url(../images/btn_down_last.gif)no-repeat;}
.cafeadm_menu_wrap button.indent{background:url(../images/btn_indent.gif)no-repeat;}
.cafeadm_menu_wrap button.del, .cafeadm_menu_wrap button.add{background:#fbfbfb; text-indent:0; border:1px solid #bebebe; border-radius:3px; font-size:11px; width:40px; vertical-align:top;}
.cafeadm_menu_wrap button.add{vertical-align:middle; float:right;}

.cafeadm_menu_contents{float:right; width:800px;}
.board_btn_wrap.sch{background:#f0f0f0; padding:8px;}

.rankmember_type{background:#f0f0f0; padding:8px; text-align:center; cursor:pointer;}


.cafeadm_rankmember_wrap{}
.cafeadm_rankmember_wrap:after{content:""; clear:both; display:block;}
.cafeadm_rankmember_list{width:200px; float:left;}
.cafeadm_rankmember_contents{float:right; width:800px;}

/*寃��깋*/
.board_btn_wrap_right{text-align:center;}
.board_btn_wrap_right fieldset div{display:inline-block; width: 200px; background: #fff; border: 1px solid #e6e6e6;}
.board_btn_wrap_right fieldset select{height:29px;}
.board_btn_wrap_right fieldset input[type=text]{width: 170px;border: none;}
.board_btn_wrap_right fieldset input[type=submit]{width: 26px; height:26px; text-indent: -99999px; background: url(../images/icon_search.png)center no-repeat; cursor: pointer;}


/* 硫붾돱 愿�由� */
.menu_selected { background-color: rgb(240, 240, 210); }


/* �옄二쇨��뒗移댄럹 紐⑸줉 �렪吏� */
.favorite_edit_wrap{}
.favorite_edit_wrap:after{clear:both; content:""; display:block;}
.favorite_edit_wrap .regcafe_list, .favorite_edit_wrap .favoritecafe_list{width:45%; height:402px; overflow-y:auto; border:1px solid #ddd; box-sizing:border-box;}

.favorite_edit_wrap ul{}
.favorite_edit_wrap ul li{height:40px; line-height:40px; font-size:16px; padding:0 20px; box-sizing:border-box; cursor:pointer;}
.favorite_edit_wrap ul li:hover{background:#f0f0d2}
.favorite_edit_wrap ul li.on{background:#f0f0d2}
.favorite_edit_wrap ul li .selected{background:#f0f0d2}


.favorite_edit_wrap .regcafe_list{float:left;}
.favorite_edit_wrap .favoritecafe_list{float:right;}
.favorite_edit_wrap .favorite_edit{width:10%; float:left; height:400px; position:relative;}
.favorite_edit_wrap .favorite_edit button{background:#fbfbfb; text-indent:0; border:1px solid #bebebe; cursor:pointer; font-size:12px; height:30px; width:80px; position:Absolute; left:50%; margin-left:-40px; top:50%;}
.favorite_edit_wrap .favorite_edit button.add{margin-top:-45px;}
.favorite_edit_wrap .favorite_edit button.del{margin-top:-5px;}

.favoritecafe_list_btn button{border:0; width:20px; height:20px; cursor:pointer; text-indent:-9999px;}
.favoritecafe_list_btn button.top{background:url(../images/btn_up_first.gif)no-repeat;}
.favoritecafe_list_btn button.up{background:url(../images/btn_up.gif)no-repeat;}
.favoritecafe_list_btn button.down{background:url(../images/btn_down.gif)no-repeat;}
.favoritecafe_list_btn button.bottom{background:url(../images/btn_down_last.gif)no-repeat;}

/* cafe edit bar */
.edit_menu_bar		{ width: 100%;	height: 40px;	background: #abdefe; position: absolute; z-index: 999999; top: 0px; }
.edit_menus			{ margin: 0px auto 0px auto;	height: 30px;	width: 985px;	padding-top: 7px; vertical-align: middle; }
.edit_menu			{ float: left;	font-size: 14px;	font-family: sans-serif;	color: hsl(200,60%,30%);	background-color: rgb(200,210,187);	height: 20px; line-height: 20px;
					  border: 1px solid #828282;	padding: 2px;	margin-right: 10px;	cursor: pointer; text-align: center;  }
.edit_menu_right	{ float: right; margin-right: 0px; margin-left: 10px; }
#edit_menu_bar{ background:url(../../images/sysop/encafe/header_bg.gif) repeat-x; position:relative; width:100%; height:53px;margin:0 auto; border:0px solid lime;}
.encafelogo { width: 1200px; margin: 0px auto; position:relative; padding-top: 16px; padding-bottom: 17px; }
.encafelogo img { cursor: pointer; }
.encafelogo .name{font-weight:bold; cursor: pointer; margin: 5px }
.encafelogo .manage{font-weight:bold; cursor: pointer; font-size:18px }

#loading {width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block; z-index: 99; background:url(../images/loading.gif)no-repeat;background-position: center; }
