@charset "utf-8";

/* common */
* {margin:0;padding:0;} 

body {margin:0;padding:0;color:#666;word-break:break-all;}
img {border:0;vertical-align:middle;}
button {overflow:visible;margin:0;padding:0;border:none;background:0;vertical-align:middle;cursor:pointer;}
label {display:inline-block;vertical-align:middle;cursor:default;}      
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:normal;}
dl, dt, dd, ul, ol, li {list-style:none outside;margin:0;padding:0;font-size:1em;}
div, p, pre, blockquote, th, td, map {margin:0;padding:0;font-size:1em;}
em, i, address {font-style:normal;}
table {display:table;border-spacing:0px;border-collapse:collapse;table-layout:fixed;font-family:"돋움", Dotum;font-size:12px;color:#666;}
caption {overflow:hidden;height:0;font-size:0;line-height:0;}
hr {border:1px;border-collapse:collapse;}
a, a:link {color:#666;text-decoration:none;}
a:hover {color:#000;text-decoration:underline;}
a:active {color:#000;text-decoration:none;}
form, fieldset {margin:0;padding:0;border:0;}
textarea {resize:none;border:1px solid #b3b3b3;padding:5px !important;}
textarea, input, select, button {margin:0;padding:0;font-size:12px;font-family:"돋움",Dotum;color:#666;vertical-align:middle;}
select {line-height:24px;padding:6px 3px 6px 3px;}
img,input[type=checkbox],input[type=radio] {vertical-align:middle;}
input[type=radio] {margin-right:3px;}
input[type=text], input[type=password] {border:1px solid #b3b3b3;height:20px;line-height:20px;padding:3px 5px;}
input[type=file] {background:#fff;height:20px;line-height:20px;padding:3px 5px;border:1px solid #b3b3b3;}


/* sub contents */
.con_br {width:100%;border-bottom:1px solid #dfdfdf;}
.sub_contents {font-family:NG; position:relative; width:1200px;margin:0 auto;padding:25px 40px 35px 40px;}

.noti_txt {font-family:"돋움", Dotum;font-size:12px;line-height:20px;color:#b60402;text-align:right;clear:both;}
.noti_txt.cn {clear:none;}
.noti_txt_bk {font-family:"돋움", Dotum;font-size:12px;line-height:20px;color:#454545;text-align:left;}
.noti_txt_bk strong {color:#b60402;}
.noti_bg {margin-top:20px;background:url("../images/bar_bg.gif") repeat-x 0 0;height:113px;padding:18px 15px;}
.noti_bg.h70 {height:46px;}
.noti_bg.h60 {height:24px;}
.noti_tit {font-family:NGB;font-size:14px;line-height:14px;color:#333;padding:6px 9px;border:1px solid #c8c8c8;display:inline;background:#fff;}
.noti_list {font-size:14px;line-height:25px;color:#333;}

/* board table */
table th em {color:#b60402;}
table.board03 {width:100%;border-top:2px solid #444;margin-top:5px;}
table.board03 th {padding:15px 0;border-bottom:1px solid #b3b3b3;text-align:left;padding-left:20px;background:#f3f3f3;font-weight:bold;color:#454545;}
table.board03 td	{padding:5px 10px;border-bottom:1px solid #b3b3b3;padding-left:10px;text-align:left;line-height:16px;}

.mt20 {margin-top:20px;}
.fl {float:left !important;}
.ml15 {margin-left:15px;}
.tc {text-align:center !important;}
.cb {clear:both !important;}

.btn_gray a {font-family:"돋움", Dotum;font-size:12px;display:inline-block;background:url("../images/btn_bg_gr.gif") repeat-x 0 bottom;border:1px solid #4c4c4c;border-bottom:0 none;padding:7px 18px 8px 18px;font-weight:bold;color:#fff;line-height:12px;vertical-align:middle;}
.btn_gray a:hover, .btn_org a:hover, .btn_grs a:hover {text-decoration:none;}

