body {
	background-color: #FFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: gulim;
	font-size:11px;
}
.text_white {
	color: #FFF;
}
.text_id {
	color: #FC6;
	font-weight:bold;
}
.bbs_date {
	color: #D9C959;
}
.footer_credit {
	color: #C0C0C0;
}

.layout-Enview {
	/*padding: 20px;*/
}


.layout-Enview .topimg {
	background:transparent url(../images/topimg_bg.jpg) no-repeat left top;
	text-align: right;
}

/* Top Menu */
.layout-Enview #topmenu {
	position: relative;
	/*margin: 17px 30px 0 -3px;
	padding: 0 0 0 30px;*/
	display: inline;
	list-style: none;
	/*width: 800px;*/
	height: 32px;
	color: #FFFFFF;
	font-weight: bold;
}
.layout-Enview #topmenu li {
	float: left;
	display: inline;
	height: 20px;
	padding: 10px 10px 0 10px;
}

.layout-Enview #topmenu li a {
	color: #999999;
}

.layout-Enview #topmenu li ul {
	position: absolute;
	top: 96px;
	left: 180px;
	margin: 0;
	padding: 8px 10px 0 10px;
	display: none;
	width: 800px;
}
.layout-Enview #topmenu li ul li {
	/*background: url(/images/nav/TopMenuSubItem.gif) no-repeat 0 14px;*/
}
.layout-Enview #topmenu li ul li a {
	color: #ADA6BD;
	display: block;
	/*padding: 12px 22px 12px 8px;*/
}

.layout-Enview #submenu {
	position: relative;
	margin: 0;
	list-style: none;
	font-weight: bold;
	padding: 5px 0 0px;
}
.layout-Enview #submenu li {
	padding: 0 0 0px;
	height:20px;
	/*background: url(/images/nav/SubMenuBg.gif) no-repeat 5px 0;*/
}
.layout-Enview #submenu li a {
	display: block;
	/*padding: 0.5em 10px 0.2em 26px;*/
	color: #685B8F;
	/*background: url(/images/nav/SubMenuItem.gif) no-repeat 10px 0.75em;*/
	font-weight: bold;
	/*width: 151px;*/
}
.layout-Enview #submenu li a:hover, 
.layout-Enview #submenu li a:active, 
.layout-Enview #submenu li a.on {
	/*background: url(/images/nav/SubMenuItem_on.gif) no-repeat 10px 0.75em #B4CEE0;*/
	color: #685B8F;
}
.layout-Enview #submenu li ul {
	position: absolute;
	/*
	background: #fff;
	margin-left: 7px;*/
	/*width: 180px;*/
	left: -20px;
	list-style: none;
}
.layout-Enview #submenu li ul li {
	/*background: #fff;*/
	font-size: 0.9em;
	padding: 10px 0 5px 0;
}
.layout-Enview #submenu li ul li a:link, 
.layout-Enview #submenu li ul li a:visited {
	color: #685B8F;
	font-weight: normal;
	/*padding: 0.2em 10px 0.1em 29px;*/
	/*background: url(/images/nav/SubMenuItem2.gif) no-repeat 18px 0.8em;*/
	width: 100%;
}
.layout-Enview #submenu li ul li a:hover, 
.layout-Enview #submenu li ul li a:active {
	color: #000;
	/*background: url(/images/nav/SubMenuItem2.gif) no-repeat 18px 0.8em #f5f5f5;*/
}

.layout-Enview #quickmenu {
	position: relative;
	margin: 0;
	list-style: none;
	font-weight: bold;
	padding: 5px 0 0px;
}

.layout-Enview #mymenu {
	position: relative;
	margin: 0;
	list-style: none;
	font-weight: bold;
	padding: 105px 0 0px;
}

.layout-Enview .topmenu_bg {	
	background-image:  url(../images/topmenu_bg.gif);
	/*background-color:#6495ed;*/
	background-repeat: repeat;
	background-position: left top;
	/*padding:2px;*/
}

.layout-Enview .topsubmenu_bg {	
	/*background: #C8C8D0;*/
	background-image:  url(../images/location_bg.gif);
	background: #F8F8F8;
	color:#494070;
	font-size: 11px;
}

.layout-Enview .topmenu_item1Out{
	background-image:  url(../images/topmenu_bg.gif);
	color: #ffffff;
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	font-size: 12px;
	font-weight: bold;
	padding:4px 6px 6px 6px;
}

.layout-Enview .topmenu_item1Over{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	/*background-color:#4A4E78;
	color: #ffffff;*/
	background-color:#F8F8F8;
	color: #494070;
	font-size: 12px;
	font-weight: bold;
	padding:4px 6px 6px 6px;
}

.layout-Enview .topmenu_item2Out{
	background-image:  url(../images/location_bg.gif);
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	/*background: #C8C8D0;*/
	/*background: #F8F8F8;*/
	color:#494070;
	font-size: 11px;
	font-weight: normal;
	padding:3px 6px 6px 6px;
}

.layout-Enview .topmenu_item2Over{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	background-color:#B3ABBD;
	color:#494070;
	font-size: 11px;
	font-weight: normal;
	padding:3px 6px 6px 6px;
}

.layout-Enview .leftarea{
	background:transparent url(../images/left_bg.gif) repeat left top;
}

.layout-Enview .leftmenu_bg{
	background:transparent url(../images/leftmenu_bg_s.gif) repeat left top;
	padding-left:0px;
}

.layout-Enview .leftmenu_bg_s {
	/*background:transparent url(../images/leftmenu_bg_s.gif) repeat left top;*/
	padding-left:9px;

}

.layout-Enview .leftmenu_item3Out{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	font-size: 12px;
	font-weight: bold;
	padding:4px 0px 4px 0px;
}

.layout-Enview .leftmenu_item3Over{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	background-color:#B3ABBD;
	color:white; 
	font-size: 12px;
	font-weight: bold;
	padding:4px 0px 4px 0px;
}

.layout-Enview .leftmenu_item4Out{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	background: #fbfafc;
	font-size: 11px;
	padding:3px 0px 3px 4px;
}

.layout-Enview .leftmenu_item4Over{
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	background-color:#B3ABBD;
	color:white; 
	font-size: 11px;
	padding:3px 0px 3px 4px;
}

.layout-Enview .padd_left_bold {
	padding:3px 0px 3px 0px;
	font-size: 14px;
	font-weight: bold;
        height: 23px;
}
.layout-Enview .padd_left {
	padding:3px 0px 3px 16px;
	font-weight: normal;
        height: 23px;
}

.layout-Enview .location
{	
	/*background-image:  url(../images/location_bg.gif);*/
	background-color:#E2DFE9;
	background-repeat: repeat;
	background-position: left top;
	padding:5px;
	font-family: Verdana, Helvetica, Arial, sans-serif, \uad74\ub9bc\uccb4;
	font-size: 11px;
	color: #111111;
	font-family: arial,verdana;
}

.layout-Enview .location td
{
	font-size: 11px;
}

.layout-Enview .menuline {
	background:transparent url(../images/dotline.gif) repeat left top;	
	height:1px;	
}


/* text css */
.layout-Enview .date {	
	background-image:  url(../images/topmenu_bg_date.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 11px;
	color: #ffffff;
	text-align: center;
}

/*
.layout-Enview .portlet-edit-bar
{
	background:transparent url(../images/edit_tit_bg.gif) repeat left top;
	font-size: 11px;
	color: #ffffff;
	font-weight: bold;
	height: 16pt;
	cursor: move;
	border: 1px solid;
}
*/

.layout-Enview .portlet-edit-bar
{
	/*background: #6B6772;*/
	background: #E9E9E9;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	/*padding: 1px;*/
	height: 16pt;
	cursor: move;
	border: 1px solid #ACA899;
}

.layout-Enview  .portlet
{
	background: #FFFFFF;
	font-size: 11px;
	/*padding: 2px;*/
	/*border: 1px solid lightgray;*/
}

.layout-Enview  .portlet-title
{
	background-image:  url(../images/portlet/bg_title.gif);
	padding-top: 2px;
    padding-bottom: 16px;
    padding-right: 2px;
    border-left: 5px solid #DDDDDD;
    border-right: 1px solid #666666;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #666666;
    color: #000000;
    background-color: #DDDDDD;
}

.layout-Enview  .portlet-title-action
{
	float: right;
	display: inline;
}

.layout-Enview  .portlet-title-more
{
	float: right;
	display: inline;
}

.layout-Enview  .portlet-title-content
{
	font-weight:bold;
    display: inline;
    float: left;
    white-space: normal;
}

.layout-Enview  .portlet-content
{
	background: #FFFFFF;
	border: 1px solid lightgray;
}